<?php
$rel["user"]="...";
$rel["password"]="...";
$rel["url"]="https://svn.channelweb.it/bedita/trunk";

$rel["releaseDir"]=".";
$rel["releaseBaseName"]="BEdita-agpl";

$rel["removeFiles"]= array( 
	"bedita-db".DS."bedita_init_data.sql",
	"bedita-app".DS."controllers".DS."modules".DS."bibliographies_controller.php",
	"bedita-app".DS."controllers".DS."modules".DS."books_controller.php",
	"bedita-app".DS."controllers".DS."modules".DS."questionnaires_controller.php",
	"bedita-app".DS."controllers".DS."modules".DS."statistics_controller.php",
	"bedita-app".DS."vendors".DS."shells".DS."deploy.php",
	"bedita-app".DS."vendors".DS."shells".DS."release.cfg.php.sample",
);

$rel["removeDirs"]= array(
	"bedita-deploy",
	"bedita-doc".DS."model",
	"bedita-doc".DS."view",
	"bedita-app".DS."views".DS."bibliographies",
	"bedita-app".DS."views".DS."books",
	"bedita-app".DS."views".DS."questionnaires",
	"bedita-app".DS."views".DS."statistics",
);

$rel["createDirs"] = array(
	"bedita-app".DS."tmp".DS."cache".DS."models",
	"bedita-app".DS."tmp".DS."cache".DS."persistent",
	"bedita-app".DS."tmp".DS."cache".DS."views",
	"bedita-app".DS."tmp".DS."logs",
	"bedita-app".DS."tmp".DS."sessions",
	"bedita-app".DS."tmp".DS."smarty".DS."cache",
	"bedita-app".DS."tmp".DS."smarty".DS."compile",
	"bedita-app".DS."tmp".DS."tests"
);

$rel["renameFiles"]= array(
	"bedita-db".DS."bedita_init_agpl.sql" => "bedita-db".DS."bedita_init_data.sql",
	"bedita-app".DS."config".DS."core.php.sample" => "bedita-app".DS."config".DS."core.php",
	"bedita-app".DS."config".DS."database.php.sample" => "bedita-app".DS."config".DS."database.php",
	"bedita-app".DS."config".DS."bedita.cfg.php.sample" => "bedita-app".DS."config".DS."bedita.cfg.php",
	"bedita-app".DS."config".DS."bedita.sys.php.sample" => "bedita-app".DS."config".DS."bedita.sys.php",
	"bedita-app".DS."webroot".DS."index.php.sample" => "bedita-app".DS."webroot".DS."index.php",
	"bedita-front".DS."config".DS."core.php.sample" => "bedita-front".DS."config".DS."core.php",
	"bedita-front".DS."webroot".DS."index.php.sample" => "bedita-front".DS."webroot".DS."index.php"
	"frontend".DS."debug.example.com".DS."config".DS."core.php.sample" => "frontend".DS."debug.example.com".DS."config".DS."core.php",
	"frontend".DS."site.example.com".DS."config".DS."core.php.sample" => "frontend".DS."site.example.com".DS."config".DS."core.php",
	"frontend".DS."dummy.example.com".DS."config".DS."core.php.sample" => "frontend".DS."dummy.example.com".DS."config".DS."core.php",
);

$rel["createFiles"] = array("bedita-app".DS."webroot".DS."test.php");

$rel["versionFileName"]="bedita-app".DS."config".DS."bedita.version.php";

?>