<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BEdita 3.7 setup | Filesystem</title>

	<style>
		{$css}
	</style>

</head>
<body>

<h1>BEdita 3.7 setup</h1>

<div id="map" style="float:left">

<ul>
	<li class="curr">Filesystem</li>
	<li class="todo">Database</li>
	<li class="todo">BEdita Admin</li>
	<li class="todo">Finish</li>
</ul>
</div>

<div style="float:left">
<p>Hi, you are about to install BEdita on your system.</p>
<p>First the system needs write permissions on three directories that are located inside the application's folder on your filesystem:</p>
<ul>
<li><code>bedita-app/tmp</code> - temporary files, cache, logs...</li>
<li><code>bedita-app/config</code> - configuration files</li>
<li><code>bedita-app/webroot/files</code> - multimedia files (file uploads)</li>
</ul>
<br />
<p>Unfortunately some file permission errors have been detected.</p>
{$errors}
<br />
<p>Please change file permissions and try again.</p>
<form method="post" action="index.php"><input type="submit" value="Try again" /></form>
</div>
</body>
</html>


