<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BEdita install wizard | Filesystem</title>

	<style>
		{$css}
	</style>

</head>
<body>

<h1>BEdita installation wizard</h1>

<div id="map" style="float:left">

<ul>
	<li class="curr">Filesystem</li>
	<li class="todo">Database</li>
	<li class="todo">BEdita Admin</li>
	<li class="todo">Finish</li>
</ul>
</div>

<div style="float:left">
<p>Hi, you are about to install BEdita on your system.</p>
<p>To do so, you need to have three directories writable by BEdita, namely:</p>
<ul>
<li><code>bedita-app/tmp</code> - temporary files, cache, logs...</li>
<li><code>bedita-app/config</code> - configuration files</li>
<li><code>bedita-app/webroot/files</code> - multimedia files</li>
</ul>
<br />
<p>Unfortunately some file permission errors have been detected.</p>
{$errors}
<br />
<p>Please change file permissions and try again.</p>
<form method="post" action="index.php"><input type="submit" value="Try again" /></form>
</div>
</body>
</html>


