DROP TABLE IF EXISTS `sample_objects`;

CREATE TABLE books (
  id INTEGER UNSIGNED NOT NULL,
  some_field CHAR(13) NULL COMMENT 'some really interesting field....',
  PRIMARY KEY(id),
  FOREIGN KEY(id)
    REFERENCES objects(id)
      ON DELETE CASCADE
      ON UPDATE NO ACTION
)ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT = 'sample_objects' ;