<?php 
class SampleModuleSchema extends CakeSchema {
	var $name = 'SampleModule';

	function before($event = array()) {
		return true;
	}

	function after($event = array()) {
	}

	var $sample_objects = array(
		'id' => array('type' => 'integer', 'null' => false, 'default' => NULL, 'length' => 10, 'values' => NULL, 'key' => 'primary'),
		'some_field' => array('type' => 'string', 'null' => true, 'default' => NULL, 'length' => 10, 'values' => NULL),
		'indexes' => array('PRIMARY' => array('column' => 'id', 'unique' => 1))
	);
}
?>