# /
/apache
/media*
/addons
/.project
/*.settings
/themes
/media.*
/*.cache
/.buildpath
/doxygen_*
/dir_conflicts.*
/nbproject
/modules
/frontends
/.idea
/sources
/tags

.DS_Store

# /bedita-app/
/bedita-app/.cache
/bedita-app/.settings
/bedita-app/.project

# /bedita-app/config/
/bedita-app/config/database.php
/bedita-app/config/core.php
/bedita-app/config/bedita.cfg.php
/bedita-app/config/bedita.version.php
/bedita-app/config/bedita.sys.php
/bedita-app/config/bedita.sys
/bedita-app/config/local
/bedita-app/config/.directory
/bedita-app/config/*.copy

# /bedita-app/config/local/
/bedita-app/config/local/*

# /bedita-app/config/notify/
/bedita-app/config/notify/local.msg.php

# /bedita-app/tests/cases/components/
/bedita-app/tests/cases/components/*.localdata.php

# /bedita-app/tmp
/bedita-app/tmp

# /bedita-app/vendors/shells/
/bedita-app/vendors/shells/be_test.php

# /bedita-app/webroot/
/bedita-app/webroot/test.php
/bedita-app/webroot/beditamedia
/bedita-app/webroot/testmodale.html
/bedita-app/webroot/xopus
/bedita-app/webroot/.directory

# /bedita-app/webroot/files/
/bedita-app/webroot/files/*

# /bedita-app/webroot/img/
/bedita-app/webroot/img/.directory

# /bedita-app/webroot/js/libs/richtexteditors/conf/local
/bedita-app/webroot/js/libs/richtexteditors/conf/local/*
!/bedita-app/webroot/js/libs/richtexteditors/conf/local/*.sample

# /bedita-app/plugins/debug_kit
/bedita-app/plugins/debug_kit

# /bedita-doc/api/
/bedita-doc/api/html

# /examples/debug.example.com/config/
/examples/debug.example.com/config/core.php

# /examples/debug.example.com/tmp/cache/
/examples/debug.example.com/tmp/cache/cake_*

# /examples/debug.example.com/tmp/cache/models/
/examples/debug.example.com/tmp/cache/models/*

# /examples/debug.example.com/tmp/cache/persistent/
/examples/debug.example.com/tmp/cache/persistent/*

# /examples/debug.example.com/tmp/cache/views/
/examples/debug.example.com/tmp/cache/views/*

# /examples/debug.example.com/tmp/logs/
/examples/debug.example.com/tmp/logs/*

# /examples/debug.example.com/tmp/sessions/
/examples/debug.example.com/tmp/sessions/*

# /examples/debug.example.com/tmp/smarty/compile/
/examples/debug.example.com/tmp/smarty/compile/*

# /examples/dummy.example.com/config/
/examples/dummy.example.com/config/core.php

# /examples/dummy.example.com/tmp/cache/
/examples/dummy.example.com/tmp/cache/cake_*

# /examples/dummy.example.com/tmp/cache/models/
/examples/dummy.example.com/tmp/cache/models/cake_*

# /examples/dummy.example.com/tmp/cache/persistent/
/examples/dummy.example.com/tmp/cache/persistent/cake_*

# /examples/dummy.example.com/tmp/logs/
/examples/dummy.example.com/tmp/logs/*

# /examples/dummy.example.com/tmp/smarty/compile/
/examples/dummy.example.com/tmp/smarty/compile/*

# /examples/html5.example.com/config/
/examples/html5.example.com/config/core.php

# /examples/html5.example.com/tmp/cache/
/examples/html5.example.com/tmp/cache/cake_*

# /examples/html5.example.com/tmp/cache/models/
/examples/html5.example.com/tmp/cache/models/*

# /examples/html5.example.com/tmp/cache/persistent/
/examples/html5.example.com/tmp/cache/persistent/*

# /examples/html5.example.com/tmp/cache/views/
/examples/html5.example.com/tmp/cache/views/*

# /examples/html5.example.com/tmp/logs/
/examples/html5.example.com/tmp/logs/*

# /examples/html5.example.com/tmp/sessions/
/examples/html5.example.com/tmp/sessions/*

# /examples/html5.example.com/tmp/smarty/compile/
/examples/html5.example.com/tmp/smarty/compile/*

# /examples/html5.example.com/tmp/tests/
/examples/html5.example.com/tmp/tests/*

# /examples/mobile.example.com/config/
/examples/mobile.example.com/config/core.php

# /examples/mobile.example.com/tmp/cache/
/examples/mobile.example.com/tmp/cache/cake_*

# /examples/mobile.example.com/tmp/cache/models/
/examples/mobile.example.com/tmp/cache/models/*

# /examples/mobile.example.com/tmp/cache/persistent/
/examples/mobile.example.com/tmp/cache/persistent/*

# /examples/mobile.example.com/tmp/cache/views/
/examples/mobile.example.com/tmp/cache/views/*

# /examples/mobile.example.com/tmp/logs/
/examples/mobile.example.com/tmp/logs/*

# /examples/mobile.example.com/tmp/sessions/
/examples/mobile.example.com/tmp/sessions/*

# /examples/mobile.example.com/tmp/smarty/compile/
/examples/mobile.example.com/tmp/smarty/compile/*

# /examples/mobile.example.com/tmp/tests/
/examples/mobile.example.com/tmp/tests/*

# /examples/mobile.example.com/webroot/
/examples/mobile.example.com/webroot/index.php

# /examples/site.example.com/config/
/examples/site.example.com/config/core.php

# /examples/site.example.com/tmp/cache/
/examples/site.example.com/tmp/cache/cake_*

# /examples/site.example.com/tmp/cache/models/
/examples/site.example.com/tmp/cache/models/cake_*

# /examples/site.example.com/tmp/cache/persistent/
/examples/site.example.com/tmp/cache/persistent/cake_*

# /examples/site.example.com/tmp/logs/
/examples/site.example.com/tmp/logs/*

# /examples/site.example.com/tmp/smarty/compile/
/examples/site.example.com/tmp/smarty/compile/*.php

# /examples/wp.example.com/config/
/examples/wp.example.com/config/core.php

# /examples/wp.example.com/tmp/cache/
/examples/wp.example.com/tmp/cache/cake_*

# /examples/wp.example.com/tmp/cache/models/
/examples/wp.example.com/tmp/cache/models/*

# /examples/wp.example.com/tmp/cache/persistent/
/examples/wp.example.com/tmp/cache/persistent/*

# /examples/wp.example.com/tmp/cache/views/
/examples/wp.example.com/tmp/cache/views/*

# /examples/wp.example.com/tmp/logs/
/examples/wp.example.com/tmp/logs/*

# /examples/wp.example.com/tmp/sessions/
/examples/wp.example.com/tmp/sessions/*

# /examples/wp.example.com/tmp/smarty/compile/
/examples/wp.example.com/tmp/smarty/compile/*

# /examples/wp.example.com/tmp/tests/
/examples/wp.example.com/tmp/tests/*
/.externalToolBuilders
