Alberto Pagliarini <batopa@gmail.com>
Dante Di Domenico <d.didomenico@channelweb.it>
Dante Di Domenico <d.didomenico@channelweb.it> <dante@didoda.com>
Stefano Rosanelli <stefano.rosanelli@gmail.com>
Paolo Cuffiani <paolo.cuffiani@chialab.it>
Paolo Cuffiani <paolo.cuffiani@chialab.it> <me@fquff.io>
Paolo Cuffiani <paolo.cuffiani@chialab.it> <paolo.cuffiani@gmail.com>
