<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" processIsolation="false" stopOnFailure="false" syntaxCheck="false" bootstrap="./tests/bootstrap.php">
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
        <const name="UNIT_TEST_RUN" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="BEdita 4 Manage Test Suite">
            <directory>./tests/TestCase</directory>
        </testsuite>
        <!-- Add plugin test suites here. -->
        <testsuite name="BEdita 4 API Test Suite">
            <directory>./plugins/BEdita/API/tests/TestCase</directory>
        </testsuite>
        <testsuite name="BEdita 4 Core Test Suite">
            <directory>./plugins/BEdita/Core/tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <listeners>
        <listener class="\Cake\TestSuite\Fixture\FixtureInjector" file="./vendor/cakephp/cakephp/src/TestSuite/Fixture/FixtureInjector.php">
            <arguments>
                <object class="\Cake\TestSuite\Fixture\FixtureManager" />
            </arguments>
        </listener>
    </listeners>

    <!-- Ignore vendor tests in code coverage reports -->
    <filter>
        <whitelist>
            <!--
                <directory suffix=".php">./src/</directory>
            -->
            <directory suffix=".php">./plugins/*/src/</directory>
            <directory suffix=".php">./plugins/*/*/src/</directory>
        </whitelist>
    </filter>
</phpunit>
