@charset "utf-8";
/*

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

CSS Created by Chialab.it

http://www.chialab.it 2012

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

*/

/*...........................................    

Resets and defaults

...........................................*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html {font-size:100%;}
body{ font-size:1em; line-height:1.5em; margin:0; }


::-moz-selection { background: #efde8f; text-shadow: none; }
::selection { background: #efde8f; text-shadow: none; }

a { color: #006699; text-decoration:none;}
a:visited { }
a:hover { text-decoration:underline; }
a:focus { outline: 0; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote {
	margin: 1rem 0 1rem 0;
	border-left: 1px solid #CCC;
	padding: 0 0 0 2rem;
}
dfn {  }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0 0 0 0;}
dd { margin: 0 0 0 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-top:0px;
	margin-bottom:1.5rem;
}


.message {
	display:block;
	width:auto;
	border:1px solid silver;
	padding:1.5rem; margin:1.5rem 0 1.5rem 0;
	line-height:1rem;
}

.message H2 {
	margin:0 0 0.75rem 0;
}

.message.error H2 { color:red; }


/*...........................................    

Structure Styles

...........................................*/

body {
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	background-color:#f1f1f1;
	color:#4d4d4d;
	}
	
#wrapper {
	margin:0px auto !important;
	width:900px;
	
		
}

#evidence h1 {font-weight:normal; font-size:1.5rem; width:660px; line-height:1.8rem; color:#676767;}

#evidence, .detail {margin-left:20px; float:left; margin-top:40px;}

header {float:left; margin-left:10px; clear:left; margin-top:40px;}

nav {float:left; clear:left; margin-top:20px; border-top:1px solid black; margin-right:0px !important; width:215px !important;}

nav ul li {
	border-bottom: 1px solid black;
	padding-top:2px;
	margin-right:0px;
	
}

nav ul li ul li {
	border-bottom: 0px;
	text-indent:0.5rem;
	
}

nav ul li ul li a {font-weight:normal;}

nav ul li a {color:#676767; font-weight:bold; font-size:1.1em; }

nav ul li a:hover, a.on {color:#e3040d; text-decoration:none;}

#col1 {float:left; margin-left:20px; margin-top:40px;}

.book-item h1 {font-weight:bold; font-size:1.2rem; margin:0px;}
.book-item h2 {font-weight:normal; font-size:1rem; margin:0px;}
.book-item h3 {font-weight:normal; font-size:1rem; margin:0px;}

.book-item {border-top:3px solid #4d4d4d;  padding:5px 0px 20px 0px;}

.book-item figure {margin:0px; border-top:1px solid #4d4d4d; border-bottom:1px solid #4d4d4d;}

footer {border-top:2px solid #9d9d9d;  clear:both; display:block; padding:10px; margin-left:10px; margin-right:10px; color:#676767;}

section {padding-right:20px; padding-bottom:40px;}

.detail h1 {font-size:1.1em; color:black;}

/*...........................................    

Modules

...........................................*/

.mod1 {width:200px; margin-right:20px;}

.mod2 {width:420px; margin-right:20px;}

.mod3 {width:640px; margin-right:20px;}
