BODY {
	margin-left : 0px;
	margin-top : 0px;
	background-color: #CCCCCC;
}
.mainTable {border-spacing: 0px; clear:both;}
.mainTable TD {border-spacing: 0px; vertical-align:top; padding:2px; margin:0px;}


.formtitolo {
		width:275px;
	}
	
.formsottotitolo {
		width:275px;
		height:84px;
	}
	
.beditaButton {
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 
	background: #ffff00 url('../img/bedita_sfo.jpg') 0px -1px;
	color: black; 
	height: 45px; 
	width:136px; 
	float:left; 
	overflow:hidden;
}
/* IE ignores styles with [attributes], so it will skip the following. */
.gest_menux[class] {
  background-image: url(../img/sfo_gestUpD.png);
}
.gest_menux {
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 
	background-color: transparent;	background-repeat: repeat-x;
	/* IE hacks */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/img/sfo_gestUpD.png', sizingMethod='scale');
	height:16px;
	width:90px;
	float:left;
	font : bold 12px Arial, sans-serif;
	padding:4px 0px 2px 0px;
	color: #ffffff;
	text-align:center; 
	white-space: nowrap; 
}

.gest_menuLeft[class] H1  {
  background-image: url(../img/sfo_gestUpD.png);
}

.gest_menuLeft H1 {
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 
	background-color: transparent;	background-repeat: repeat-x;
	/* IE hacks */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/img/sfo_gestUpD.png', sizingMethod='scale');
	font : bold 14px Arial, sans-serif;
	padding:5px;
	height:126px;
	width:126px;
}

.gest_MenuHeader[class]  {
  background-image: url(../img/sfo_gestUpD.png);
}
.gest_MenuHeader {
	margin: 10px 0px 10px 1px; border:1px solid silver;
	background-color: transparent;	background-repeat: repeat-x;
	/* IE hacks */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/img/sfo_gestUpD.png', sizingMethod='scale');
	padding:3px 3px 3px 3px;
	color:#696969;
	height:auto;
	width:572px;
}

.gest_MenuHeader A:Hover {
	text-decoration:none;
}


.gest_menuLeft	{
	color: #000000;
	width:140px;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.gest_menuLeft, .gest_menuLeft .inside {
	font : normal 12px Arial, sans-serif;
}
	
.gest_menuLeft H2 {color: white;font: bold 12px Arial; margin: 10px 0px 10px 0px; padding:4px; background: gray none repeat-x; border:1px solid #CCCCCC;
	width:128px;
}

.eventoDetail H2, .gestButton  {color: white;font: bold 12px Arial; margin: 10px 0px 10px 0px; padding:4px; background: gray none repeat-x; border:1px solid gray;
	cursor:pointer;
	width:570px;
}

TABLE.indexList  { margin-left:0px; empty-cells: show; border-collapse: collapse}
.indexList TD {vertical-align:middle; padding:4px; border:1px solid gray;}
.indexList TH {border-bottom:1px solid gray; text-align:left; color: black; font: bold 12px Arial; margin: 10px 0px 10px 0px; padding:4px; background: transparent none repeat-x;
vertical-align:middle;}

.indexList TH A {color: black}

H1.news {background-color:#CC00FF} H1.news A {color:#FFFFFF} 
H1.eventi {background-color:#3399CC} H1.eventi A {color:#FFFFFF} 
H1.percorsi {background-color:#cc9900} H1.percorsi A {color:#FFFFFF}
H1.documenti {background-color:#ff6600} H1.documenti A {color:#FFFFFF}
H1.aree {background-color:#ff9933} H1.aree A {color:#FFFFFF}
H1.commenti {background-color:#F08080} H1.commenti A {color:#FFFFFF} 
H1.questionari {background-color:#999966} H1.questionari A {color:#FFFFFF} 
H1.newsletter {background-color:#99cc33} H1.newsletter A {color:#FFFFFF}
H1.gallerie {background-color:#ffcc33} H1.gallerie A {color:#FFFFFF}
H1.iscrizioni {background-color:#33cc99} H1.iscrizioni A {color:#FFFFFF}
H1.reference {background-color:#cc3333} H1.reference A {color:#FFFFFF}
H1.prenotazioni_pc {background-color:#999999} H1.prenotazioni_pc A {color:#FFFFFF}
H1.autori {background-color:#99cccc} H1.autori A {color:#FFFFFF} 
H1.timeline {background-color:#3366cc} H1.timeline A {color:#FFFFFF} 
H1.cartigli {background-color:#993300} H1.cartigli A {color:#FFFFFF}
H1.ragazzi {background-color:#339900} H1.ragazzi A {color:#FFFFFF}
H1.superadmin {background-color:#000000} H1.superadmin A {color:#FFFFFF}
H1.xanadu {background-color:#ff3300} H1.xanadu A {color:#FFFFFF}
H1.ordini {background-color:#d2b48c} H1.ordini A {color:#FFFFFF}
H1.libreria {background-color:#ff0099} H1.libreria A {color:#FFFFFF}
H1.utilita {background-color:#ffffff} H1.utilita A {color:#999999}
H1.bacheca {background-color:#006666} H1.bacheca A {color:#FFFFFF}

/* qui sopra controllati */


.gest_menuLeft UL, gest_menuLeft OL {padding:0px}

.scaduto INPUT {
	background-color : #d7d7d7;
	color: gray;
}
.scaduto .inpt {
	background-color : #d7d7d7;
	color: gray;
}

.inpt {
		width:184px;
		height: 72px;
		overflow:auto;
		font-family : Verdana, sans-serif;
		font-size : 11px;
	}
	INPUT {
		font-family : Verdana, sans-serif;
		font-size : 11px;
		vertical-align:middle;
	}

	H1{
		font-family : Verdana, sans-serif;
		font-size :17px;
		font-weight:bold;
		color : #A6232F;
		margin-bottom:0px;
		margin-top:0px;
	}


	
		.formtesto {
		font-family : Verdana, sans-serif;
		font-size :11px;
		color : #000000;
		margin-bottom:0px;
		margin-top:0px;
		border:1px solid #FFFFFF;
		background-color : transparent;
		width:350px;
		height: 100px;
		overflow:auto;
	}
	
		.formnomeurl {
		font-family : Verdana, sans-serif;
		font-size :11px;
		font-weight:bold;
		color : #CC3333;
		border:1px solid #FFFFFF;
		background-color : transparent;
		width:190px;
	}
	.imgcontent {
		border:1px solid gray;
		margin-bottom:0px;
		margin-top:4px;
		margin-right:6px;
		margin-left:1px;
		float:left;
	}
	
TH {
	font-family : Verdana, sans-serif;
	font-size : 11px;
	color: #FFFFFF;
	background : #7d7d7d /*url(../img/sfo_gestUpT.gif) repeat-x;*/
}

TH A {color:white;}

.userwait TD  {
	color: #ff6600;
}

.useroff TD  {
	color: gray;
}

.txtsmall, .txtsmall TD {	font-size: 9px;}

BODY, TD, DIV, INPUT, TEXTAREA, SELECT {
	color: #000000;
	font: 11px Verdana, Arial, sans-serif;
}

H1, H2, H3, H4, H5 { font-family: Verdana, Arial, sans-serif; font-weight:bold; }

H1 {font-size:17px; margin-top:4px; margin-bottom:4px; line-height:0.95em;}
H2 {font-size:1.1em; margin-bottom:4px;}
H3 {font-size:1.0em; font-style : italic; margin-bottom:4px;}

* > H2:first-child { margin-top:0px; }
* > H3:first-child { margin-top:0px !important}

H2 + H3 {margin-top:8px;}

FORM {	margin-top:0px; margin-bottom:0px;}

HR {
	border: 0px;
	border-top: 1px solid gray;
	height: 0px;
}

P {	margin-top: 5px;}

TEXTAREA {
	height: 100px;
	overflow: auto;
	width: 450px;
}

A {	color: #CC3333;	text-decoration: none;}
A:hover{text-decoration: underline;}
A IMG {border-color: black;}

/*
OL {margin-left: 0px;}
UL {margin-left: 0px; margin-top:10px; margin-bottom:10px;}
UL LI {margin-left: 18px;}
OL LI {margin-left: 24px;}
LI {margin-bottom:8px;}

.menuLeft UL, OL {padding:0px}
*/
.colorize {
	color: red;
}

.order TD {
		text-align:center;
		background-color:gray;
	background-image : url(../img/sfo_gestUpD.gif);
	}

.simpleList {list-style: none;}
.simpleList LI {margin-bottom:4px;}

	.simpleMenuList LI {
		list-style-type: none; line-height:1.2em; padding-left:10px; text-indent:-10px;
		margin-bottom:8px;
	}
	
	.simpleMenuList LI.on  {
		font-weight:bold;
	}
/* per l'autocertificazione */
.cert {
	width:480px;
	border:3px dashed gray;
	padding:10px 10px 10px 10px;
	margin-top:20px;
	background-color: #E7E7E7;
}

.off, .off TD {background-color:#AFAFAF;}
.scad, .scad TD {text-decoration : line-through !important;}
.draft, .draft TD {background-color:#AFAFAF; color:#FFFFFF;}

.serv, .serv TD {background-color:gold}
.att, .att TD {background-color:#66cccc}
.eve, .eve TD {background-color:#99ff00}
	
.simpleTable TD {border:0px; vertical-align:middle;}


.tab {
	display:block;
}
.subdoc TD {
	padding: 6px 10px 4px 0px;
	border-bottom:1px solid gray;
	vertical-align:middle;
}
table.subdoc {
	
}

.simpleTableB {display:none; border:0px solid white; margin-bottom:4px; margin-top:4px; margin-left:0px;}

.buttonOff {color:gray;}


/* scaffold show */

div.related {
clear:both;
display:block;
}
dl {
line-height:2em;
margin:0em 1em;
float:left;
width: 400px;
}
dt {
font-weight: bold;
vertical-align:top;
}
dd {
margin-left:10em;
margin-top:-2em;
vertical-align:top;
}

/* notices and errors */

#flashMessage, .error, .error_message {
color:#900;
font-size: 16px;
background-color: #fff;
margin: 8px 0px;
font-weight: bold;
}
.error_message {
clear: both;
}
.error em {
font-size: 18px;
color: #003d4c;
}
.notice {
color: #656565;
font-size: 14px;
background-color: #f4f4f4;
padding: 0.5em;
margin: 1em 0;
display:block;
}
.tip {
color: #656565;
background-color: #ddd;
}

#footer{
clear:both;
padding: 6px 10px;
text-align: right;
}
