.clearfix {
	zoom: 1;
}

.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}

ul.tags {
	margin: 0;
	padding: 0;
}

ul.tags li {
	list-style: none;
	float: left;
	margin: 0px;
	height: 20px;
	padding: 0px 6px 6px 0px !important;
	margin-bottom:2px;
}

ul.tags a {
	color: white!important;
	background-color: #2da0a4;
	padding:1px 3px 1px 3px;
	text-decoration: none;
	font-weight: normal !important;
}

ul.tags a:hover {
	color: white!important;
	background-color: #d33d0b;
	text-decoration: none;
}
