$:.push("/opt/bedita-deploy")
require 'bedita-env'

SVN_FRONTEND="https://svn.channelweb.it/bedita-publish/..."
USER="bdeploy"
PASS="bedita"

desc "checkout frontend"
task :checkout_frontend do
        system("svn co --username #{USER} --password #{PASS} #{SVN_FRONTEND}/ site")
end

desc "update frontend"
task :up_frontend do
        system("cd site; svn --username #{USER} --password #{PASS} up")
end

