/*
 *	bedita style adjustament
 *
 *
*/

#access ul li.on > a {
	color: #fff;
}

#site-generator {
	width: 250px;
}

#site-generator a {
	background: url(../img/bedita_grey.png) center left no-repeat;
	padding-left: 50px;
}

span#cancel-reply {
	display: none;
	font-weight: normal;
	font-size: 0.6em;
}

/*********** tags ********************/
.smallestTag {
	font-size:1em;
}

.smallTag {
	font-size:1.2em;
}

.mediumTag {
	font-size:1.4em;
}


.largeTag {
	font-size:1.8em;
}

.largestTag {
	font-size:2.2em;
}