/* Stili da sovrascrivere quando il browser e' internet explorer 6*/

 * BODY, .bodybg {
	background:#cccccc none repeat-x fixed;
}

.modules LI, .modules label {
	background-image: none;
}

.modulesmiddle {
	background-image: none;
}

.tab, .tab2  {
	background:transparent none repeat left top;
}

TABLE.indexlist {
	width:680px;
}

.modulesmenu LI {
	background-image: none;
}

.fixed {
	position:absolute;
}


.htab {
	background: transparent none no-repeat center bottom;
}

.htabcontent {
	background: #ffffff none repeat-x;
	margin-bottom:20px;
}

TABLE.bordered  {
	border:1px solid gray;
	margin-bottom:10px;
}

.publishingtree DIV {
	margin-left: 0px;
}