/* BEGIN -- Menu Left */

.menuLeft	{
	color: #000000;
	width: 136px;
	margin: 0 10px 0 0;
	padding: 0;
}

.menuLeft .inside {
	padding: 4px;
}

.menuLeft[class] H1  {
  	background-image: url('../img/sfo_gestUpD.png');
}

.menuLeft H1 {
	margin: -2px 0px 0px -1px;
	padding: 5px;
	border: 1px solid gray;
	cursor: pointer;

	background-color: transparent;
	background-repeat: repeat-x;
	font : bold 14px Arial, sans-serif;
	height:126px;
	width:126px;
}

.menuLeft H2, .areablock {
	height:17px; color: white;
	font: bold 12px Arial; margin: 10px 0px 10px 0px; padding:4px; background: gray none repeat-x; border:1px solid #CCCCCC;
	width:128px;
}


.menuLeft UL, gest_menuLeft OL {padding:0px}

H1.login {} H1.login A {color:#CC3333}
H1.news {background-color:#CC00FF} H1.news A {color:#FFFFFF}
H1.eventi {background-color:#3399CC} H1.eventi A {color:#FFFFFF}
H1.percorsi {background-color:#cc9900} H1.percorsi A {color:#FFFFFF}
H1.documenti {background-color:#ff6600} H1.documenti A {color:#FFFFFF}
H1.multimedia {background-color:#ff3456} H1.multimedia A {color:#FFFFFF}
H1.attachments {background-color: 	#ff34aa} H1.attachments A {color:#FFFFFF}
H1.areas {background-color:#ff9933} H1.areas A {color:#FFFFFF}
H1.commenti {background-color:#F08080} H1.commenti A {color:#FFFFFF}
H1.questionari {background-color:#999966} H1.questionari A {color:#FFFFFF}
H1.newsletter {background-color:#99cc33} H1.newsletter A {color:#FFFFFF}
H1.galleries {background-color:#ffcc33} H1.galleries A {color:#FFFFFF}
H1.iscrizioni {background-color:#33cc99} H1.iscrizioni A {color:#FFFFFF}
H1.soci {background-color:#4682b4} H1.soci A {color:#FFFFFF}
H1.reference {background-color:#cc3333} H1.reference A {color:#FFFFFF}
H1.prenotazioni_pc {background-color:#999999} H1.prenotazioni_pc A {color:#FFFFFF}
H1.autori {background-color:#99cccc} H1.autori A {color:#FFFFFF}
H1.timeline {background-color:#3366cc} H1.timeline A {color:#FFFFFF}
H1.cartigli {background-color:#993300} H1.cartigli A {color:#FFFFFF}
H1.ragazzi {background-color:#339900} H1.ragazzi A {color:#FFFFFF}
H1.superadmin {background-color:#000000} H1.superadmin A {color:#FFFFFF}
H1.xanadu {background-color:#ff3300} H1.xanadu A {color:#FFFFFF}
H1.ecommerce {background-color:#d2b48c} H1.ecommerce A {color:#FFFFFF}
H1.libreria {background-color:#ff0099} H1.libreria A {color:#FFFFFF}
H1.utilita {background-color:#ffffff} H1.utilita A {color:#999999}
H1.bacheca {background-color:#006666} H1.bacheca A {color:#FFFFFF}
H1.formazione {background-color:#6b8e23} H1.formazione A {color:#FFFFFF}
/* END -- Menu Left */

/* BEGIN -- Container Left */

.menuContainer {
	margin: 0px 0px 0px 0px; border:1px solid silver;
	background-color: white;	background-repeat: repeat-x;
	padding:3px 3px 3px 3px;
	color:#696969;
	height:auto;
	width:572px;
}

.menuContainer A:Hover {
	text-decoration:none;
}

.menuContainer H1 {
	font : bold 18px Arial, sans-serif;
	color: black;
}

/* END --  Container page */

.simpleList {list-style: none;}
.simpleList LI {margin-bottom:4px;}

.simpleMenuList LI {
	list-style-type: none; line-height:1.2em; padding-left:10px; text-indent:-10px;
	margin-bottom:8px;
}

.simpleMenuList LI.on  {
	font-weight:bold;
}