// {literal}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	outline:0
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

BODY {
	background:#cccccc;
}


TD {padding:2px; vertical-align:middle}

HR {height:0px; border:0px; margin:10px 0px 10px 0px; border-top:1px solid gray}

A {color:#000000}

a img {border:0px;}

a:focus, a:active {outline:0px;}

a:link, a:visited, a:active {text-decoration: none; color: blue;}

a:hover {text-decoration: none;}

UL {list-style:none;}

UL UL {margin-left:20px;}

.on, LI.on {font-weight:bold;}
.INFO {color:green}
.WARN {color:yellow}
.ERROR  {color:red}

		ul { list-style: none; }

		li.done { color: green; }
		li.curr { color: blue; }
		li.todo { color: orange; }

		

BODY {font-size:12px; font-family: "Arial", "Helvetica", sans-serif; line-height:1.5em;}

H1 {font:normal 2em "Georgia", "Times New Roman", Times, serif; line-height:1em}

H2 {
	font:normal 1.5em "Georgia", "Times New Roman", Times, serif; line-height:1em;
	padding-bottom:5px;
	border-bottom:1px solid gray;
	margin:0px;
}

H3 {font:normal 1.35em "Georgia", "Times New Roman", Times, serif; line-height:1em}

.graced {font-family: "Georgia", "Times New Roman", Times, serif;}

.monospaced {font-family: monospace;}

INPUT[type=text],INPUT[type=password], TEXTAREA {

}

INPUT[type=submit] {
	margin:20px 0px 10px 0px; padding:5px;
}

#map {
	border-right:1px solid gray;
	float:left;
	padding-right:20px; margin-right:20px;
	min-height:800px;
}

fieldset {
	margin:0px 0px 20px 0px;
	padding:0px;
}

// {/literal}
		