BODY {
	margin-left:  0;
	margin-top:   0;
	padding-top:  0;		/* Opera sets a default padding of 8px */
	padding-left: 0;
	background-color: #d4d4d4;
}


BODY, TD, DIV, INPUT, TEXTAREA, SELECT {
	font-style:   normal;
	font-variant: normal;
	font-weight:  normal;
	font-stretch: normal;
	font-size-adjust: none;
	line-height:  normal;
	font: 11px Verdana, Arial, sans-serif;
	color: #000000;
}

H1, H2, H3, H4, H5 { font-family: Verdana, Arial, sans-serif; font-weight: bold; }

H1 { font-size: 17px; margin-top: 4px; margin-bottom: 4px; line-height: 0.95em; }
H2 { font-size: 1.1em; margin-bottom: 4px; }
H3 { font-size: 1.0em; font-style: italic; margin-bottom: 4px; }

* > H2:first-child { margin-top: 0; }
* > H3:first-child { margin-top: 0 !important }

H2 + H3 {margin-top:8px;}

HR {
	border: 0;
	border-top: 1px solid gray;
	height: 0;
}

P {	margin-top: 5px;}

FORM {	margin-top: 0; margin-bottom: 0;}

TEXTAREA {
	height: 100px;
	overflow: auto;
	width: 450px;
}

INPUT {
	vertical-align: middle;
}

A {	color: #CC3333;	text-decoration: none;}
A:hover {text-decoration: underline;}
A IMG {border: 1px solid #666666;}

LI { line-height: 1.5em; }

/* BEGIN -- Classi generiche */
UL.noBulletList
{
	list-style-type: none;
	padding: 0;
}

/* END -- Classi generiche */



/* BEGIN -- Pagine interne moduli */

#headerPage {
	border: 1px solid #d4d4d4;
	height: 45px;
}

#menuLeftPage {
	float: left;
	width: 138px;
	border: 0 solid black;
	padding: 0;
}

#containerPage {
	margin: 0 10px;
	margin-left: 148px;
	padding-top: 10px;
	border: 0 solid black;
}

#footerPage {
	border: 0 solid red;
	margin: 0;
	padding: 0;
	text-align: right;
}

#listAreas {
	border: 0 solid black;
}

#listElements {
	display: table-cell;
	padding-left: 5px;
}

/* END -- Pagine interne moduli */


/* BEGIN -- Pagina Login */
#loginStatusBox {
	float: left ;
	width: 136px;
	margin-bottom: 0;
	border: 0 solid black;
	height: 400px;
}
/* END -- Pagina Login */

/* BEGIN -- Home Page */
#headerPageHome {
	clear:both;
	display: block;
	width:auto;
	margin: 0 ;
	border: 0 solid black;
}

#centralPageHome {
	clear: both;
	display: block;
	width: 100%;
	margin-bottom: 0;
	border: 0px solid black;
	height: 355px;
}

/* END -- Home Page */

/* BEGIN -- Header Home page */

.beditaButtonHome {
	margin: -1px;
	cursor: pointer;
	background: #ffff00 url('../img/bedita_sfo.jpg') 0px -1px;
	color: black;
	height: 135px;
	width: 135px;
	float: left;
	overflow: hidden;
	border: 1px solid gray;
}

/* IE ignores styles with [attributes], so it will skip the following. */
#headerPageHome H1 {
  background-image: url('../img/sfo_gestUpD.png');
}

#headerPageHome H1 {
	margin: -1px 0 0 -1px;
	border: 1px solid silver;
	cursor: pointer;
	padding: 5px;
	background-color: transparent;
	background-repeat: repeat-x;
	height: 126px;
	width: 126px;
	float: left;
	font : bold 12px Arial, sans-serif;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
}

/* END -- Header Home page */

/* BEGIN -- Header page */

.beditaButton {
	margin: -2px 0 0 -2px;
	border: 1px solid silver;
	cursor: pointer;
	background: #ffff00 url('../img/bedita_sfo.jpg') 0 -1px;
	color: black;
	height: 45px;
	width: 136px;
	float: left;
	overflow: hidden;
	border: 1px solid black;
}

/* IE ignores styles with [attributes], so it will skip the following. */
.gest_menux[class] {
  background-image: url('../img/sfo_gestUpD.png');
}
.gest_menux {
	margin: -1px 0 0 -1px;
	padding: 4px 0 2px 0;
	border: 1px solid silver;
	cursor: pointer;
	background-color: transparent;
	background-repeat: repeat-x;
	height: 16px;
	width: 90px;
	float: left;
	font : bold 12px Arial, sans-serif;
	color: #ffffff;
	text-align:center;
	white-space: nowrap;
}

/* IE ignores styles with [attributes], so it will skip the following. */
.gest_menuxHome[class] {
  background-image: url('../img/sfo_gestUpD.png');
}
.gest_menuxHome {
	margin: -1px 0 0 -1px;
	padding: 4px 0 2px 0;
	border: 1px solid silver;
	cursor: pointer;
	background-color: transparent;
	background-repeat: repeat-x;
	height: 16px;
	width: 90px;
	float: left;
	font : bold 12px Arial, sans-serif;
	color: #ffffff;
	text-align: center;
	white-space: nowrap;
}

/* END -- Header page */

/* BEGIN -- Toolbar */
.toolbar {
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 1px;
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
	background-color: white;
	background-repeat: repeat-x;
	color: #696969;
	height: auto;
	width: 572px;
}

.toolbar a {
color: #cc3333;
text-decoration: none;
}

.toolbar a:hover
{
text-decoration: none;
}

/* END -- Toolbar */

/* BEGIN -- Liste */

TABLE.indexList {width:100%; margin-left:0; empty-cells: show; border-collapse: collapse}
.indexList TR {cursor:pointer;}
/*TABLE.indexList TR.rowList:hover {background-color:red;}*/

.indexList TD {vertical-align:middle; padding:4px; border:1px solid gray;}
.indexList TH {border-bottom:1px solid gray; text-align:left; color: black; font: bold 12px Arial; margin: 10px 0px 10px 0px; padding:4px; background: transparent none repeat-x; vertical-align:middle;}
.indexList TH A {color: black}

/* END -- Liste */


/* BEGIN -- Form dettaglio object */

.tableForm TEXTAREA { height: 100px; overflow: auto; width: 450px; }
.tableForm TD 		{vertical-align:top; padding:4px; border: 0 solid gray;}

.subtitle  { height: 50px !important; width: 410px !important; }
.shortdesc  { height: 100px !important; width: 410px !important; }

/* END -- Form dettaglio object */



/* BEGIN -- itemBox (Multimedia Containers) */
.itemBox
{
	padding: 0;
	margin: 2px;
	/* min-width: 140px; to prevent wrong behaviours in moz */
	width: 140px;
	height: 270px;
	background-color: #E9E9E9;
	border: 1px solid #999;
	float: left;
	cursor: move;
	text-align: center;
	overflow: hidden;
	position: relative; /* without offset is like normal flow, needed for pos absolute inside */
}
.itemBoxSmall     { width: 88px; height: 104px; }
.itemBoxSmall img { width: 78px;  height: 56px; }


/* < begin - itemBox sub elements */
.itemBox .itemHeader
{
	width: 94%;
	margin: 0 auto; /* center info box horizontally, also need text-align: center for IE in parent DIV itemBox */
	text-align: left;
	border: 0 solid #ccc; /* just for reference */
}

.itemBox .priority
{
	padding: 0;
	margin: 0;
	height: 18px;
	width: 26px;
	background-color: #E9E9E9;
	border: 0;
	font-size: 1.5em;
	font-weight: bold;
	overflow: hidden;
}

.itemBox #imageBox
{
	overflow: hidden;
	height: 102px;
	margin: 1px auto; /* center image box horizontally, also need text-align: center for IE in parent DIV itemBox */
}
.itemBoxSmall #imageBox
{
	width: auto;
	height: auto;
}

.itemBox .itemInfo
{
	width: 94%;
	margin: 0 auto; /* center info box horizontally, also need text-align: center for IE in parent DIV itemBox */
	text-align: left;
}
/* > end - itemBox sub elements */


/* < begin - itemInfo */
.itemInfo div {
	font-size: 0.9em;
	margin: 5px 0;
	white-space: nowrap;
}
.itemInfo div .title { font-weight: bold; }

.itemInfo input, .itemInfo textarea
{
	width: 99%;
	height: 12px;
	padding: 1px;
	font-size: inherit;
	border: 1px solid #ccc;
}
.itemInfo textarea { min-height: 26px; line-height: 0.9em; } /* still to add min-height for explorer */

.itemInfoSmall
{
	font-size: 0.9em;
	margin: 2px;
	overflow: hidden;
}
/* > end - itemInfo */


.itemBox .itemFooter
{
	text-align: right;
	margin: -15px 3px 3px;
}
/* END -- Box Image */



/* BEGIN -- Box Attach */

div.attachBox { background-color:#E9E9E9;border:solid #FFF 1px;float:left;padding:2px 2px 2px 2px; }
div.attachBoxFirst { background-color:#E9E9E9;border:solid #FFF 1px;float:left;padding:2px 2px 2px 2px; }
.priority
{
	font-size: 20px;
	font-weight: bold;
	background-color: #E9E9E9;
	border: 0 solid #000;
}

/* END -- Box Attach */

label.section {color:red;text-decoration:none}
label.section:hover {color:red;text-decoration:underline}



/* BEGIN -- Multimedia toolbar */

div.multimediaToolbar
{
	position: relative;
	padding: 0;
	margin: -5px 0 4px;
	width: 580px;
	height: 20px;
	overflow: hidden;
	border-bottom: 1px dotted gray;
}
.multimediaToolbar span { position: relative; top: 2px; } /* adjust vertical alignment of texts */

/*
 * .multimediaToolbar #displayLargeIcons, .multimediaToolbar #displaySmallIconsDisabled,
 * .multimediaToolbar .addItem, .multimediaToolbar .addMultipleItems, .multimediaToolbar .addRepositoryItems, .multimediaToolbar div.loading
*/
.multimediaToolbar div
{
	float: left;
	position: relative;
	top: 0;
	height: 16px;
	min-width: 20px; width: auto;
	cursor: pointer;
	text-align: center;
}

/* < Large / Small Boxes Switch */
.multimediaToolbar #displayLargeIcons {	left: 2px; }
.multimediaToolbar #displaySmallIconsDisabled { left: 0; }
.displayLargeIcons { background: url(../img/IconLargeIcons.gif) no-repeat; }
.displayLargeIconsDisabled { background: url(../img/IconLargeIconsDisabled.gif) no-repeat; }
.displaySmallIconsDisabled { background: url(../img/IconSmallIconsDisabled.gif) no-repeat; }
.displaySmallIcons { background: url(../img/IconSmallIcons.gif) no-repeat; }
/* > Large / Small Boxes Switch */

.multimediaToolbar .addItem
{
	left: 0;
	padding: 0 20px;
	background: transparent url(../img/IconAddItem.gif) no-repeat;
}

.multimediaToolbar .addMultipleItems
{
	padding: 0 20px;
	background: transparent url(../img/IconAddMultipleItems.gif) no-repeat;
}

.multimediaToolbar .addRepositoryItems
{
	padding: 0 20px;
	background: transparent url(../img/IconAddItemFromRepo.gif) no-repeat;
}

.multimediaToolbar div.loading {
	display: none;
	position: absolute;
	right: -5px;
	background: transparent url(../img/iconLoading.gif) no-repeat;
}


/* END -- Multimedia toolbar */


/* tabs container, used by jquery selectors*/
div.tabsContainer {
	margin: 15px 0;
}
