@charset "utf-8";

/*

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

CSS Created by Chialab.it

http://www.chialab.it 2007

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

*/



/*...........................................    

    General, elements

...........................................*/

* { margin:0; padding:0; list-style:none;}

BODY, .bodybg {
	background:#cccccc url(../img/sfomain.png) repeat-x fixed;
}


TD {padding:2px; vertical-align:middle}

HR {height:0px; border:0px; margin:10px 0px 10px 0px; border-top:1px solid gray}

A {color:#000000}

a img {border:0px;}

a:focus, a:active {outline:0px;}

a:link, a:visited, a:active {text-decoration: none; }

a:hover {text-decoration: none;}

UL UL {margin-left:20px;}

/*...........................................    

    General, states

...........................................*/

.on, LI.on {font-weight:bold;}
.info {color:green}
.warn {color:yellow}
.err  {color:red}

.obj.on {font-weight:normal;}
.obj.disabled {opacity:0.5}
.obj.draft *, .obj.off *, .obj.required *   {color:#666666}


/*...........................................
 
    Structure

...........................................*/


.modulesmenu, .head, .main, .mainfull  {position:absolute; left:300px; margin-right:0px;}


.head {
	top:50px;
	height:110px;
	padding-left:20px; width: 660px;
}


.primacolonna {
	position:absolute; 
	top:20px;
	left:20px;
	z-index:100;
	width:140px;
}


.secondacolonna {
	position:absolute;
	top:20px;
	left:160px;
	z-index:100;
	width:140px;
	}


.insidecol {
	margin: 10px 10px 0px 10px;
}

.terzacolonna {
	position:absolute;
	width:180px;
	left:280px;
	}
	

.fixed {
	
	position:fixed;
	
}


.quartacolonna {
	position:absolute; 
	left:810px;
	width:180px;
	top:160px;
	min-height:400px;
}

.main {
	top:160px;
	width: 500px; 
}

.mainfull {
	top:160px;
	min-width: 660px;
	padding-right:20px;
}

.mainfull .tab{
	width: 660px;
}

.mainhalf {
	width: 340px;
	margin-right:10px;
	float:left;
}

.mainhalf .tab{
	width: 340px;
}

/*...........................................
 
    Kind of columns

...........................................*/


.doppia {
	width: 260px;
	padding-right:20px;
}

.singola {
	width: 140px;
	padding-right:0px;
	float:left;
}

.singolapadded {
	padding:20px;
	width: 100px;
	float:left;
}

.doppia, .singola, .singolapadded {margin-bottom:10px}


	
/*...........................................
 
    Headings and all typography

...........................................*/

BODY {font-size:12px; font-family: "Arial", "Helvetica", sans-serif; line-height:1.5em;}

H1 {font:normal 2em "Georgia", "Times New Roman", Times, serif; line-height:1em}

H2 {font:normal 1.5em "Georgia", "Times New Roman", Times, serif; line-height:1em}

.graced {font-family: "Georgia", "Times New Roman", Times, serif;}

.monospaced {font-family: monospace;}


INPUT[type=text],INPUT[type=password], TEXTAREA {
	font-size:12px; font-family: "Verdana", sans-serif; line-height:1.5em;
}

.modules {font-family: "Arial", "Helvetica", sans-serif}

.tab H2,  .tab2 H2 {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size:1em; font-weight:normal; 
}

.toolbar {
	font:normal 1.2em "Georgia", "Times New Roman", Times, serif;
}


/*...........................................
 
    Modules

...........................................*/

.modules {
	/*background:transparent url(../img/shadowpattern160.png);*/
	width:auto;
	height:140px;
}

UL.modules {
	/*background:transparent url(../img/shadowh2-small.png) repeat-y top left ;*/
}

.modules LI, .modules label {
	display:block;
	font-size: 1.16em ;
	width:120px; height:120px; 
	padding:10px;
	margin: 0px;
	background-color:#CCCCCC; 
	background-image: url(../img/sfomodulo.png);
	background-repeat:repeat-x;
	color:#FFFFFF;
	float:left;
	font-weight:normal;
}

.modules LI:first-letter, .modules label:first-letter {
	text-transform:capitalize;
}


.modulesmiddle {
	background: transparent url(../img/shadowpattern240.png);
	width:220px;
	min-height:220px;
	padding:10px;	
}

.modulesmiddle DIV {
	width:200px;
	min-height:195px;
	padding:10px;
}

.listrecent {
	display:block; height:15px; width:15px; margin-left:-10px; margin-right:5px; float:left;
}

/*...........................................
 
    Each Modules appearence

...........................................*/

.areas, .area, .section 	{background-color:#626151 !important;}
.documents, .document		{background-color:#ff6600 !important;}
.galleries, .gallery 		{background-color:#FFBF00 !important;}
.events, .event				{background-color:#0099CC !important;}
.newsletter 				{background-color:#99cc33 !important;}
.multimedia, .image, .audio, .video	{background-color:#ff0033 !important;}
.admin 						{background-color:#333333 !important;}
.tags 						{background-color:#336666 !important;}
.comments, .comment			{background-color:#F08080 !important;}
.translations				{background-color:#FF00FF !important;}
.addressbook, .card			{background-color:#009933 !important;}
.attachments 				{background-color:gray !important;}
.news, .shortnews 			{background-color:#003366 !important;}
.newsletter 				{background-color:#6666FF !important;}
.books, .book				{background-color:#996633 !important;}
.bibliographies, .bibliography {background-color:#999966 !important;}
.ecommerce 					{background-color:#771717 !important;}
.webmark, .webmarks 		{background-color:#3274D0 !important;}
.form, .forms 				{background-color:#006633 !important;}
.bookings, .booking 		{background-color:#99CC33 !important;}
.faq, .faqs 				{background-color:#CC3333 !important;}
.print 						{background-color:#CC9900 !important;}
.topography, .topographies 	{background-color:#993300 !important;}


.bedita 	{background-color:#FFFFFF !important; 
			font:normal 1.75em Georgia, "Times New Roman", Times, serif !important; ; 
			line-height:0.75em !important;
			color:#996600  !important;
			}

.default 		{background-color:#CCCCCC !important; color:#000000 !important}

/*...........................................
 
    Modules states

...........................................*/

.modules LI.off {
	opacity:0.55;
}


.modules .readonly {
	background: transparent url(../img/iconReadonly.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .fixedobject {
	background: transparent url(../img/iconFixed.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .lock {
	background: transparent url(../img/iconLocked.png);
	background-repeat:no-repeat !important;
	background-position: center;
}


.modules .future {
	background: transparent url(../img/iconFuture.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .trashed {
	background: transparent url(../img/iconTrashed.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .concurrentuser {
	background: transparent url(../img/iconConcurrentuser.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .alert {
	background: transparent url(../img/iconAlert.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .error {
	background: transparent url(../img/iconError.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .pending {
	background: transparent url(../img/iconPending.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .unsent {
	background: transparent url(../img/iconUnsent.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .save {
	background: transparent url(../img/iconSave.png);
	background-repeat:no-repeat !important;
	background-position: center;
}


/*...........................................
 
    MENU SMALL Modules 

...........................................*/

UL.modulesmenu {
	top:0px;
	margin-right:15px; 
	width:680px;
	/*background:transparent url(../img/shadowh2-small.png) no-repeat;*/
	background-position: 520px 10px ;
	padding:20px 0px 10px 0px;
}

.modulesmenu LI {
	height:25px; width:15px;
	float:right; margin-left:0px;
	cursor:pointer;
	background-image: url(../img/sfomodulo.png);
	background-repeat:repeat-x;
	background-position: left -5px;
	padding:0px 5px 0px 5px;
	color:white;
}


.modulesmenu .over {
	border-bottom:5px solid #CCCCCC;
}

.modulesmenu .on {
	border-bottom:5px solid #CCCCCC;
}


.modulesmenucaption {
	display:none;
	white-space:nowrap;
	position:absolute;
	top:0px;
	height:20px;
	text-align:right; 
	font: normal 14px Georgia, "Times New Roman", Times, serif; color:#000000;
}

.modulesmenucaption A {
	color:#FFFFFF; font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}


/*...........................................
 
   menu left

...........................................*/

UL.menuleft {
	padding-bottom:10px;
	border-bottom:5px solid gray;
	margin-bottom:10px !important;
}

.menuleft  UL {
/*
	margin-left:20px;
	margin-bottom:5px;
*/
}

.menuleft UL LI {
	list-style-type:disc;
	line-height:1.35em;
	/*white-space:nowrap;*/
}

.menuleft A:Hover {
	color:#FFFFFF;
}



/*...........................................
 
    Head

...........................................*/


.head H1 {margin-top:25px;}



/*...........................................    

    Main TABs

...........................................*/


.tab, .tab2  {
	height:25px;
	background:transparent url(../img/shadowh2-small.png) repeat left top;
	padding:10px 0px 10px 0px;
	margin-top:-10px;
}

.tab H2,  .tab2 H2 {
	cursor:pointer;
	color: white; 
	background:#808080 url(../img/piumeno.gif) no-repeat;
	background-position:right 0px ;
	height:20px; padding:5px 10px 0px 10px;

}

.tab H2.open, .tab2 H2.open {
	background-position: right -25px !important;
}

.tab + *, .tab2 + * {
	display:none; 
}


.tab + DIV, .tab2 + DIV {
	margin-bottom:15px; 
}

.tab + fieldset, .tab2 + fieldset {
	padding:0px 10px 15px 10px;
}

.tab:first-child, .tab2:first-child {
	margin-top:-10px;
}


/*...........................................    

    horizontal TABs

...........................................*/



.htab {
	width:100%;
	background: transparent url(../img/shadowhtab.png) no-repeat center bottom;
	display:table;
}

.htab LI, .htab TD {
	text-align:center;
	padding:2px;
	cursor:pointer;
	display:table-cell;
}

.htab LI.on, .htab LI:Hover, .htab TD.on, .htab TD:Hover {
	background-color:#FFFFFF;
	font-weight:normal;
}

.htabcontent {
	clear:left;
	display:none;
	background:transparent url(../img/sfohtabscontent.png) repeat-x;
	padding:2%;
	width:96%;
	min-height:150px;
	display:none;
}



/*...........................................    

   Tree

...........................................*/

.publishingtree {
	width:260px;
}

.publishingtree DIV {
	margin-top: 10px;
	margin-left: -10px;
	clear:both;
}

.publishingtree H2 A {
	display:block;
	padding:2px 0px 5px 5px;
	margin-left:10px;
}

.publishingtree H2 A.on {
	font-weight:normal;
	background-color: white;
	border-bottom:0px;
}

.publishingtree H2 A:Hover {
	color: gray;
}


.publishingtree .plusminus {
	float:left;
	cursor:pointer;
	background: transparent url(../img/piumenoBlack.gif) no-repeat;
	background-position: right 0px ;
	height:25px;
	width:25px;
	margin-top:0px;
}

.publishingtree .plusminus.on {
	background-position: right -25px !important;
	background-color: transparent;
}


.publishingtree *[rel] {
	cursor:pointer;
}

.publishingtree UL {
	margin-left:10px;
}

.publishingtree LI  {
	padding:0px; margin:0px;
	list-style-type:none;
	list-style-position: outside;
	border-left:1px dotted #666666;
	border-top:0px dashed #999999;
}

.publishingtree LI A {
	display:block;
	padding:3px 0px 3px 10px;

}

.publishingtree A {
		cursor:pointer;	
}

.publishingtree A:Hover {
	background-color:#d8d8d8;
}

.publishingtree .on {
	background-color:white;
	font-weight:normal;
}

.publishingtree INPUT {
	margin-right:5px;
}


#treecontrol {
	text-transform:lowercase;
	border-bottom:1px solid gray;
}


.areaSectionAssociation OPTION {

	border-bottom:1px solid silver;
	
}

/*...........................................    

   Toolbar

...........................................*/


.toolbar .evidence {
	/* view simple ".evidence" below */
}

.toolbar A {
	color:#FFFFFF;
}

.toolbar H2 {font-size: 1.1em; margin-top:20px; margin-bottom:10px;}

.toolbar TD {
	border-right:1px solid gray;
	padding:15px;
	vertical-align:middle;
}

.toolbar TD:last-child {
	border-right:0px solid gray;
}
.toolbar TD:first-child {
	padding-left:0px;
}

/*...........................................    

   Custom Lists

...........................................*/


UL.bordered LI  {

	border-top:1px solid #999999;
	padding:5px 0px 5px 10px;

}

UL.bordered LI:first-child {padding-top:0px; border-top:0px solid red}


UL.bulleted {
	padding-left:20px;
}

UL.bulleted LI {
	list-style-type: disc;
}

/*...........................................    

   Tables

...........................................*/

TABLE {empty-cells:show; border-spacing:0px;  border-collapse:collapse; }

TD, TH {padding:5px; text-align:left}

TH {text-transform:lowercase}

TD.center, TH.center {
	text-align:center;
	vertical-align:middle;
}

TABLE.bordered {
	width:100%;
}

.bordered TD, .bordered TH  {
	border-color:#999999; 
	border-style:solid;
	border-width:0px 0px 1px 1px; 
}


.bordered TD:first-child, .bordered TH:first-child {
	border-left:0px;
	padding-left:10px;
}




TABLE.indexlist {
	width:100%;
}
 
.indexlist TH  {
	background-color:#FFFFFF;
}

.indexlist TD  {
	border-bottom:1px solid #d8d8d8;
}


.indexlist TR[rel] {
	cursor:pointer;
}

.indexlist.bordered TH {
	background-color:transparent;
}




/*...........................................    

    States

...........................................*/

.over  {
	background-color:#d8d8d8;
/* 	background-color:#FFFFFF; opacity:0.25; */
	
}


/*...........................................    

    MultimediaItems

...........................................*/


.multimediaitem {
	width:130px;
	background-color:#FFFFFF;
	border:0px solid white;
	padding:10px;
	margin-right:10px;
	margin-bottom:10px;
	float:left;
}
.multimediaitem input, .multimediaitem textarea, .multimediaitem LI {
	font-size:0.9em;
}


.multimediaitem IMG {

}

.multimediaitem UL {
	display:block;
}

.multimediaitem LI {
	border-bottom:0px solid #999999;
	padding:2px 0px 0px 0px;
}

.multimediaitem LI:last-child{
	border-width:0px; padding-bottom:0px;
}


.multimediaitem.off {
	
	opacity:0.33
	
}

.multimediaitem.small {
	width:75px;
	line-height:1em;
	padding:6px;
	margin-right:7px;
	margin-bottom:7px;
}

.multimediaitem.small .imagebox {
	width:75px !important;
	height:75px !important;
	overflow:hidden !important;
}




.multimediaitem.small .info_file_item {
	display:none;
}

.multimediaitem .info_file_item LI {
	color:gray;
	padding:0px; 
	border-top:1px solid silver;
}

.multimediaitem input, .multimediaitem textarea {
	width:120px;
	background: transparent;
}

.multimediaitem textarea {
	height:60px;
	overflow: auto;
}


IMG.multimediaitemToolbar  {
	vertical-align:middle;
	cursor:pointer;
}


IMG.multimediaitemToolbar.viewsmall {
	background-position: -18px;
}

IMG.multimediaitemToolbar.viewthumb {
	background-position: -36px;
}




.dark.multimediaitem {
	background-color:#000000;
	color: #999999;
	border-color: #333333;
}


.dark.multimediaitem input, .dark textarea  {
	border-color: #333333;
	color: #999999;
	
}

.gold.multimediaitem   {
	background-color:gold;	
}


.priority {
	color: #000000;
	border:0px !important;
	font: normal 1.2em "Georgia" !important;
	padding:0px; margin:0px;
}

input.priority {
	width: 42px;
}


.dark.multimediaitem .priority {
	color: #FFFFFF;
}

.progressBar {
	width:100px;
	background-color: red;
	float:left;
	margin-right:5px;
}

/*...........................................    

    mediatypes

...........................................*/

UL#mediatypes  {
	padding: 0px;
	margin: 0px;
}

#mediatypes LI {
	list-style:none;
	padding:4px 0px 0px 32px;
	margin:0px;
	height:20px;
	background-repeat: no-repeat;
	margin-top:6px;
	cursor:pointer;
}

#mediatypes .inline LI {
	float:left;
	padding:4px 8px 0px 26px;
	margin-right:8px;
}


#mediatypes .on {
	background-position: left -24px;
}
	
#mediatypes .inline .on {
	/*background-color: #FFF;*/
}

/*...........................................    

    iconset

...........................................*/

.ico_image {background-image: url('../img/iconset/24px/image.png');}
.ico_video {background-image: url('../img/iconset/24px/video.png');}
.ico_audio {background-image: url('../img/iconset/24px/audio.png');}
.ico_text {background-image: url('../img/iconset/24px/text.png');}
.ico_spreadsheet {background-image: url('../img/iconset/24px/spreadsheet.png');}
.ico_presentation {background-image: url('../img/iconset/24px/presentation.png');}
.ico_drawing {background-image: url('../img/iconset/24px/drawing.png');}
.ico_chart {background-image: url('../img/iconset/24px/chart.png');}
.ico_formula {background-image: url('../img/iconset/24px/formula.png');}
.ico_rss {background-image: url('../img/iconset/24px/rss.png');}


/*...........................................    

    Forms

...........................................*/

INPUT, TEXTAREA, SELECT {
	padding:2px;
}
INPUT[type=text], INPUT[type=file], TEXTAREA {
	border:1px solid silver;
}

INPUT[type=checkbox] {
	vertical-align:middle;
}

input[type=radio] {
	margin-right:5px; vertical-align:middle;
}

input[type=radio] {
	margin-right:5px; vertical-align:middle;
}

INPUT[readonly] {
	color:gray;
	background-color:#dedede;
}


label {font-weight:bold;}

label.block {display:block; margin-top:4px; margin-bottom:2px}

fieldset {border:0}

textarea {
	overflow:auto;
}

textarea#description, textarea#title, textarea#addtaglist, textarea.longtext {
	width:480px; 
}

input#titleBEObject, input#title, textarea#subtitle {
	width:380px;
}

#title input#titleBEObject, input#title, textarea#subtitle {
	width:460px;
}


input#titleBEObject {
	padding:5px 0px 5px 5px; font-size:1.25em;
}


.insidecol input {
	width:100px;
	margin:2px 5px 2px 5px;
}


.bemaincommands {
	width:110px !important;
	padding:2px;
	text-transform:lowercase;
	display:block; 
	margin:5px 0px 0px 0px !important;
}


INPUT.priority {
	text-align:right; margin-left: -30px; margin-right:10px; width:35px; float:left; background-color:transparent
}

/*...........................................    

    footer

...........................................*/

#footerPage {position:absolute; top:600px; left:20px; width:160px;}


/*...........................................    

    messages

...........................................*/

#messagesDiv {
	/*background:transparent url(../img/shadowpattern160.png);*/
	padding:10px; 
	margin-top:-10px; margin-left:-10px;
	width:140px; height:auto; 
	display: none;
}

.message {
	line-height:1.2em;
	width:120px; height:120px; 
	padding:10px;
	border-top:1px solid silver;
	background-color:#FFF;
	color:#000000;

}

.message.error H2 {
	color:red;
}

.message.warn H2 {
  	color:gold;
}

.message.info H2 {
	color:#996600;
}

.message LABEL {
	display:block;
}


/*...........................................    

    Buttons

...........................................*/

.BEbutton {


}

/*...........................................    

    Tags

...........................................*/

.tag {
	font-size:1em;
	font-weight: normal;
	line-height:1.2em;
}

.tag A:Hover {
	text-decoration:underline;
}

.tagToolbar {
	cursor:pointer;
	vertical-align:middle;
}

.smallestTag {
	font-size:1em;
}

.smallTag {
	font-size:1.2em;
}

.mediumTag {
	font-size:1.4em;
}


.largeTag {
	font-size:1.8em;
}

.largestTag {
	font-size:2.2em;
}



/*...........................................    

    Ajax

...........................................*/


#loading, .loader {
	background: transparent url(../img/loadingAnimation.gif) left no-repeat;
	display:none;
	min-height:48px;
	min-width:48px;
}

.modaloader {
	background: transparent url(../img/loadingAnimation.gif) no-repeat center !important;
}


/*...........................................    

    Modal

...........................................*/

#modaloverlay {
	position:fixed;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	background-color:black;
	/*opacity:0.8;*/
	z-index:499;
	display:none;

}

#modal {
	position:absolute;
	top:160px;
	left:300px;
	background-color: #FFFFFF;
	width:500px;
	height:550px;
	display:none;
	z-index:500;
	overflow:hidden;
}

#modalmain {
	width:500px;
	height:525px;
	overflow-y:auto;
	overflow-x:hidden;
	background: transparent url(../img/shadowsimple.png) repeat-x;
	
}

#modalmain .body {
	padding:10px;
	height:505px;
	
}

.modalcommands {
	padding:10px; margin-top:10px; text-align:center; 
	background-color:#FFFFFF;
}

#modalheader {
	background-color:#000000;
	width:480px;
	height:20px;
	padding-top:5px;
	padding-right:20px;
	text-align:right;
	color:white;
	cursor:move;
}

#modalheader:Hover {
	background-color:#333333;
}

#modalheader A {
	color:white;
	cursor:pointer;
}



/*...........................................    

    Specific template layout: home

...........................................*/


.home UL.modules {
	width:710px;
	height:280px;
	margin-top:20px; 
	margin-left:20px;
}

LI.welcome {
	width: 260px;
	background:transparent none;
	font-size:1em; 
	color:#000000;
	padding-top:5px;
	padding-bottom:15px;
}


.dashboard {
	position:absolute;
	left:740px;
	top:25px;
	width: 240px;
	height: 120px;
}

.dashboard H1 {
	margin-bottom:5px;
}


/*...........................................
 
	 Specific template layout: publishing

...........................................*/

	
TABLE.areaform {
	width:100%
}
.areaform INPUT[type=text], .areaform TEXTAREA, .areaform SELECT {
	width:240px;
	
}
.areaform TH {
	width:100px;
}


/*...........................................    

    accessories

...........................................*/

.colophon {
	width:240px !important;
	background:transparent none !important;
	font-size:1em !important; 
}

.colophon .belinks, .colophon .belinks A {
	color:#333 !important;	
}

.evidence {
	font-size: 1.3em;
}

.messageboard {
	font-size:1em;
	line-height:1.2em;
	overflow:auto; 
	background-color:#FFFFFF; 
	border:0px solid #999999;
	height:120px;
	
}

.messageboard HR {
	border-color: silver;
	border-style:dotted;
	
}

.editornotes {
	line-height: 16px!important; width:156px; 
	font:normal 12px Arial,Helvetica, sans-serif;
	color: #9a5830; 
	background: transparent url('../img/sfo_zebranotes.gif'); 
}

.listobjnav  {
	text-align:center;
	padding:10px;
}

.listobjnav  A {
	font-size:4em;
	color:#666666;
}

.listobjnav  A:Hover {
	color:#000000;
}


/* bordi tondi? */
/*
.modules label, .modules LI {

-moz-border-radius : 70px; 

}
*/
INPUT[type=text],INPUT[type=password], textarea {	
	border-radius : 7px; 
	-moz-border-radius : 7px; 
	-webkit-border-radius : 7px;	
}


