@charset "utf-8";
/*             
`7MM"""Yp, `7MM"""YMM       `7MM    db   mm            
  MM    Yb   MM    `7         MM         MM            
  MM    dP   MM   d      ,M""bMM  `7MM mmMMmm  ,6"Yb.  
  MM"""bg.   MMmmMM    ,AP    MM    MM   MM   8)   MM  
  MM    `Y   MM   Y  , 8MI    MM    MM   MM    ,pm9MM  
  MM    ,9   MM     ,M `Mb    MM    MM   MM   8M   MM  
.JMMmmmd9  .JMMmmmmMMM  `Wbmd"MML..JMML. `Mbmo`Moo9^Yo.
                                                      
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

CSS Created by Chialab.it

http://www.chialab.it 2007

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

*/


/*...........................................    

    Reset

...........................................*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	outline:0
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

article, aside, figure, footer, header, hgroup, nav, section {
	display: block;
}

* { 
	-webkit-user-drag: none;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	-webkit-tap-highlight-color: transparent; 
	-webkit-touch-callout: none;
}

/*...........................................    

    General, elements

...........................................*/


BODY, .bodybg, .catselector {
	background-color:#B6B6B6;
}


TD {padding:2px; vertical-align:middle}

HR { 
	height:0px;
	border:0px;
	margin:10px 0px 10px 0px;
	border-top:1px solid gray;
}

A {color:#000000}

a img {border:0px;}

a:focus, a:active {outline:0px;}

a:link, a:visited, a:active {text-decoration: none; }

a:hover {text-decoration: none;}

UL {list-style:none;}

UL UL {margin-left:20px;}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

img {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
}

/*...........................................    

    General, states

...........................................*/

.on, LI.on {font-weight:bold;}
.info {color:green}
.warn {color:yellow}
.err  {color:red}

.obj.on {font-weight:normal;}
.obj.disabled {opacity:0.5}
/*.obj.draft *, .obj.off *, .obj.required *   {color:#666666}*/

.obj.draft, .obj.off  {opacity:.6}

/*...........................................
 
    Structure

...........................................*/


.modulesmenu, .head, .main, .mainfull  {position:absolute; left: 320px; margin-right:0px;}


.head {
	z-index:80;
	top: 58px;
	height:80px;
	/*
	width: 660px;
	*/
	padding-left:10px;
}

.modulesmenu {
	z-index:280;
}

.primacolonna {
	float: left; 
	margin-top: 20px;
	margin-left: 20px;
	z-index:102;
	width: 140px;
}

.secondacolonna {
	position:absolute;
	top:20px;
	left: 170px;
	z-index:130;
	width: 140px;
	background-color:#B6B6B6;
}

.secondacolonna.fixed {
	position:absolute;
}

.secondacolonna .insidecol {
	text-align: center;	
}

.insidecol {
	margin: 10px 0px 0px 0px;
}

.terzacolonna {
	position:absolute;
	width:180px;
	left:280px;
}

.fixed {
	position:fixed;
	
}

.quartacolonna {
	position:absolute; 
	left: 990px;
	width:180px;
	top: 140px;
	min-height:400px;
}

.main {
	top: 140px;
	width: 660px; 
	padding-bottom: 20px;
}

.mainfull, .main.full {
	top: 140px;
	min-width: 670px;
	padding-right: 10px;
	padding-bottom: 50px;
}

.mainfull .tab, .main.full .tab {
	/*
width: 660px;
*/
}

.mainhalf, .main.half {
	width: 340px;
	margin-right:10px;
	float:left;
}

.mainhalf .tab, .main.half .tab{
	width: 340px;
}

/*...........................................
 
    Kind of columns

...........................................*/


.doppia {
	width: 260px;
	padding-right:20px;
}

.singola {
	width: 140px;
	padding-right:0px;
	float:left;
}

.singolapadded {
	padding:20px;
	width: 100px;
	float:left;
}

.doppia, 
.singola, 
.singolapadded { 
	margin-bottom:10px
}

/*...........................................
 
    Headings and all typography

...........................................*/

BODY {font-size:12px; font-family: "Helvetica Neue","Helvetica","Arial", sans-serif; line-height:1.5em;}

H1 {font:normal 2em "Georgia", "Times New Roman", Times, serif; line-height:1em}

H2 {font:normal 1.5em "Georgia", "Times New Roman", Times, serif; line-height:1em}

INPUT[type=text],INPUT[type=password], TEXTAREA {
	font-size:12px; font-family: "Arial", "Helvetica","Verdana", sans-serif; line-height:1.5em;
}

.modules {font-family: "Arial", "Helvetica", sans-serif}

.tab H2,  .tab2 H2 {
	font-family: "Arial", "Helvetica", sans-serif; font-weight:normal; 
	font-size: 0.8rem;
}
.tab H2:first-letter {
	text-transform: uppercase;
}
.pub H2 {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size:0.8rem; font-weight:normal; 
}

.toolbar {
	font:normal 1.2em "Georgia", "Times New Roman", Times, serif;
}

.graced, .serif {font-family: "Georgia", "Times New Roman", Times, serif;}

.sans {font-family: "Helvetica Neue","Helvetica","Arial", sans-serif;}

.monospaced {font-family: monospace;}

.toolbar.sans {
	font-size:1em;	
}

/*...........................................
 
    Modules

...........................................*/

.modules {
	/*background:transparent url(../img/shadowpattern160.png);*/
	width:auto;
}

UL.modules {
	/*background:transparent url(../img/shadowh2-small.png) repeat-y top left ;*/
}

.modules.block LI, .modules label {
	display: inline-block;
	vertical-align: top;
	font-size: 1.16em ;
	width: 140px; 
	height: 110px; 
	padding:10px;
	margin: 0px;
	background-color:#CCC; 
	color:#FFFFFF;
	font-weight:normal;
	border-bottom: 20px solid rgba(0,0,0,0.3);
	/*background-position: right bottom !important;*/
	background-position:center 35px !important;
}

.modules LI:first-letter, .modules label:first-letter {
	text-transform:capitalize;
}


.modulesmiddle {
	background: transparent url(../img/shadowpattern240.png);
	width:220px;
	min-height:220px;
	padding:10px;	
}

.modulesmiddle DIV {
	width:200px;
	min-height:195px;
	padding:10px;
}

.listrecent {
	display:block; height:15px; width:15px;  margin-right:5px; float:left;
	border-radius:10px;
}

#objtable .listrecent {
	margin:5px -15px 5px 10px;
}


.smallist .on {
	font-weight: normal;
}
.smallist .off, .smallist .off * {
	color: gray;
}
.smallist .draft, .smallist .draft * {
	color: gray;
}

/*...........................................
 
    Each Modules appearence

...........................................*/

.areas, .area, .section 	{background-color:#626151 !important;}
.documents, .document		{background-color:#ff6600 !important;}
.galleries, .gallery 		{background-color:#FFBF00 !important;}
.events, .event				{background-color:#0099CC !important;}
.newsletter 				{background-color:#99cc33 !important;}
.multimedia, .image, .audio, .video, .b_e_file, .application, .befile	
							{background-color:#ff0033 !important;}
.admin 						{background-color:#333333 !important;}
.users 						{background-color:#555 !important;}
.tags 						{background-color:#336666 !important;}
.comments, .comment			{background-color:#F08080 !important;}
.translations				{background-color:#FF00FF !important;}
.addressbook, .card			{background-color:#009933 !important;}
.attachments 				{background-color:gray !important;}
.news, .short_news, .shortnews 			{background-color:#003366 !important;}
.newsletter 				{background-color:#6666FF !important;}
.bibliographies, .bibliography {background-color:#999966 !important;}
.ecommerce 					{background-color:#771717 !important;}
.webmark, .webmarks, .link 		{background-color:#6600cc !important;}

.bookings, .booking 		{background-color:#99CC33 !important;}
.faq, .faqs 				{background-color:#CC3333 !important;}
.print 						{background-color:#CC9900 !important;}
.topography, .topographies 	{background-color:#993300 !important;}
.statistics, .stats 	{background-color:#788279 !important;}

.modules.block LI.bedita, .modules label.bedita, .bedita {
			background-color: #FFF !important;
			background-image: url(../img/BElogogray.gif) !important;
			background-repeat:no-repeat !important;
			background-position:right bottom !important;
			background-size: 50%;
			font:normal 1.75em Georgia, "Times New Roman", Times, serif !important;
			line-height:1em !important;
			color:#996600  !important;
			border-bottom: none !important;
}

.default 		{background-color:#CCCCCC !important; color:#000000 !important}


/*...........................................
 
    Modules states

...........................................*/

.modules LI.off {
	opacity:0.55;
}

.modules .draft {
	background: transparent url(../img/iconDraft.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .readonly {
	background: transparent url(../img/iconReadonly.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .fixedobject {
	background: transparent url(../img/iconFixed.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .lock {
	background: transparent url(../img/iconLocked.png);
	background-repeat:no-repeat !important;
	background-position: center;
}


.modules .future {
	background: transparent url(../img/iconFuture.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .expired {
	background: transparent url(../img/iconPast.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .today {
	background: transparent url(../img/iconToday.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .trashed {
	background: transparent url(../img/iconTrashed.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .concurrentuser {
	background: transparent url(../img/iconConcurrentuser.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .alert {
	background: transparent url(../img/iconAlert.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .error {
	background: transparent url(../img/iconError.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .unsent {
	background: transparent url(../img/iconUnsent.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .pending {
	background: transparent url(../img/iconPending.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .pendingAlert {
	background: transparent url(../img/iconPendingAlert.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .sent {
	background: transparent url(../img/iconSent.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .injob {
	background: transparent url(../img/iconinjob.png);
	background-repeat:no-repeat !important;
	background-position: center;
}

.modules .save {
	background: transparent url(../img/iconSave.png);
	background-repeat:no-repeat !important;
	background-position: center;
}


/*...........................................
 
    Subwarning

...........................................*/

.subwarning {
	text-align:left;
	color: #FFF;
	padding:3px 25px 7px 5px;
	background: #666;
	position: static;
	background-size: 20px; height: 26px; overflow: hidden;
	background-repeat: no-repeat;
	background-position: right;
}

.subwarning + .subwarning{
	border-top: solid 1px #999;
}

.subwarning.ubiquity {
	background-image: url('../img/iconUbiquity.png');
}

.subwarning.fixed {
	background-image: url('../img/iconFixed.png');
}

.subwarning.permissions {
	background-image: url('../img/iconLocked.png');
}

/*...........................................
 
    MENU SMALL Modules 

...........................................*/

NAV.modulesmenu {
	/*left:300px;*/
	top:20px;
	text-align:right;
	min-width:700px;
}

.modulesmenu A {
	height: 25px; 
	width: 25px;
	float:right; margin-left:0px;
	cursor:pointer;
	/*background-image: url(../img/sfomodulo.png);
	background-repeat:repeat-x;
	background-position: left -5px;*/
	color:white;
}

.modulesmenu .bedita {
	background-image: none !important;
}

.modulesmenu .searchtrigger {
	background: #ccc url(../img/iconSearch.png) center no-repeat;
		margin-right:20px;
}

.searchobjects {
	display:none; z-index:100; position:absolute; left:735px; top:50px;
}

.searchobjects input[type=text]{
	padding:5px 10px 5px 10px;
}

.modulesmenu form {
	display:inline-block; padding:2px 10px 0px 5px;
}

.modulesmenu input[type='submit'] {
	background: #ccc url(../img/iconSearch.png) center no-repeat;
	width:20px;
}


.modulesmenu .on, .modulesmenu .over {
	transition: border 250ms, height 250ms;
	border-bottom:5px solid #CCCCCC;
	height: 30px;
}


.modulesmenucaption {
	display:none;
	white-space:nowrap;
	position:absolute;
	top:0px;
	height:20px;
	text-align:right; 
	font: normal 14px Georgia, "Times New Roman", Times, serif; color:#000000;
}

.modulesmenucaption A {
	color:#FFFFFF; font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}


/*...........................................
 
   menu left

...........................................*/

.modules + UL.menuleft {
	border-top:0px solid gray;
}

UL.menuleft {
	padding-bottom:5px;
	border-bottom:5px solid gray;
	border-top:5px solid gray;
	padding-top:5px;
}

UL.menuleft + UL.menuleft {
	border-top:0px solid gray;
	padding-top:0px;
}


.menuleft  LI {
	line-height:1.2em;
	padding-bottom:5px;
}

.menuleft  LI:first-letter {
	text-transform: uppercase;
}

.menuleft  UL {
/*
	margin-left:20px;
	margin-bottom:5px;
*/
}

.menuleft UL LI {
	list-style-type:disc;
	line-height:1.35em;
	padding-bottom:0px;
	/*white-space:nowrap;*/
}

.menuleft A:Hover {
	color:#FFFFFF;
}

.menuleft LI.all {
	list-style:none;
}

.menuleft .subchoice {
	display:none;
}
.subchoice LI.on {
	list-style:none;
	margin-left:-20px;
	background-color:white;
	padding:2px 2px 2px 20px;
	margin-bottom:0px;
	font-weight:normal;
}

.subchoice .on A:Hover {
	color:#333;
}


/*...........................................
 
    Head

...........................................*/


.head H1 {margin-top: 37px;max-width: 532px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;line-height: 1.3em;display: inline-block;vertical-align: bottom;}



/*...........................................    

    Main TABs

...........................................*/


.tab, .tab2  {
	/*background:transparent url(../img/shadowh2-small.png) repeat left top;*/
	margin-bottom: 10px;
}

.tab H2, .tab2 H2 {
	cursor:pointer;
	color: white; 
	background:#808080 url(../img/piumeno.gif) no-repeat;
	background-position:right 0px ; 
	padding: 7px 5px 7px 10px;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
	position: relative;
}

.tab H2 A,  .tab2 H2 A{
	color: white; 
}

.tab.stayopen H2 {
	background-image: none !important;
	cursor:default;
}
.tab.stayopen + * {
	display:block; 
}


.tab H2.open, .tab2 H2.open {
	background-position: right -25px !important;
}

.tab + *, .tab2 + * {
	display:none; 
}


.tab + DIV, .tab2 + DIV {
	margin-bottom:15px; 
}

.tab + fieldset, .tab2 + fieldset {
	padding: 0;
	margin-bottom: 10px;
}

.tab:first-child, .tab2:first-child {
}

.tab.filteractive H2:after {
	content:" ✻ active"
}

.tab H2 .relnumb {
	height: 16px;
	text-align:center;
	border-radius:16px; 
	padding: 2px 4px 2px 4px; 
	background-color:#444;
	font-size:.9em;
	min-width: 16px;
	display: inline-block;
	color: white;
	position: absolute;
	top: 5px;
}


/*...........................................    

    horizontal TABs

...........................................*/



.htab {
	width:100%;
	background: transparent url(../img/shadowhtab.png) no-repeat center bottom;
	display:table;
}

.htab LI, .htab TD {
	text-align:center;
	padding:4px;
	cursor:pointer;
	display:table-cell;
}

.htab LI.on, .htab LI:Hover, .htab TD.on, .htab TD:Hover {
	background-color:#FFFFFF;
	font-weight:normal;
}

.htabcontent {
	clear:left;
	background:transparent url(../img/sfohtabscontent.png) repeat-x;
	padding:2%;
	width: 100%;
	min-height:150px;
	display:none;
}


.whitebox {
	background:transparent url(../img/sfohtabscontent.png) repeat-x;
	min-height:150px;
}

/*...........................................    

   relationList

...........................................*/

.tab H2.empty {
	opacity:.6
}

.tab H2.open.empty {
	opacity:1
}

.relationList .modalbutton {
	margin:10px 10px 10px 0px
}

.relationList TR.obj TD:first-child { 
	width: 0px;
}

.relationList TR.obj TD {
	vertical-align: top;
}

.relationList.boxed TABLE.indexlist {
	border-bottom: none;
}

.relationList.boxed TR.obj TD:first-child { 
	padding: 5px 0 0 0;
}

.relationList .relparams {
	width: 40%
}

.relationList .priority {
    display: inline-block;
}

.relationList.boxed .priority {
    position: absolute;
    width: 20px !important;
    margin-left: -10px;
    margin-top: -10px;
}

TR.trick {
	display:none !important;
}

.relationList TR.trick {
	display:none !important;
}

.relationList TR.trick:only-child {
	display: table-row !important;
	width: 100%;
	height: 31px;
}

.relationList TR.trick:only-child td{
	border-bottom: none !important;
	display:  none;
}

.relationList TR.trick:only-child:before {
	content: 'No entries';
	display: inline-block;
	position: absolute;
	line-height: 30px;
	width: 100%;
	border-bottom: solid 1px #666;
	font-style: italic;
	text-indent: 20px;
	color: #666;
}

.relationList .filesize {
	text-align: right;
}

.relationList TR TD.moredata textarea, .relationList TR TD.moredata input, .relationList TR TD.moredata select, .relationList TR TD.moredata .select2-container {
	width: 100%;
}

.boxed.relationList thead {
	display: none;
}

.boxed.relationList TR {
	box-shadow: 0px 0px 6px rgba(0,0,0,.2);
	background-color:#d5d5d5;
	border-radius:0px;
	display:inline-block;
	margin:5px;
	width: 155px;
	vertical-align:top;
	padding: 0 5px 5px 5px;
}

.boxed.relationList TR TD {
	border:0px solid red;
	display:block;
	padding-left: 0px;
	padding-right: 0px;
}

.boxed.relationList TR TD table{
	width: 100%;
}

.boxed.relationList TR TD input, .boxed.relationList TR TD textarea{
	width: 100%;
}

.boxed.relationList TD TR {
	border:0px;
	display:block;
	box-shadow: none;
	border-radius:0px;
	margin:0px;
	width:auto;
	padding:0px
}

.relationList .commands {
	text-align:right;
	white-space:nowrap;
}

.relationList .description  textarea {
	width:100%;
}

.relationList .moredata TD {
	border:0px;
}

.boxed.relationList .commands {
	text-align: right;
	border-top:1px solid #999;
	min-height: 35px;
	line-height: 29px;
}

.boxed.relationList .filethumb {
	min-height:20px;
    width: 100%;
    padding: 0;
}

.boxed.relationList .filethumb img {
	width:100%;
	margin:0px;
}

.boxed.relationList .mimetype, .boxed.relationList .filesize, .boxed.relationList .status, .boxed.relationList .lang, .boxed.relationList .obtype {
	display: table-cell;
	padding: 5px 5px 0 0;
}

.relationList .obtype *{
	font-size:14px;
	color:#444;
}

.boxed.relationList .obtype *{
	font-size:28px;
	color:#444;
}

.boxed.relationList .mimetype {
	display: block;
	padding:0px;
}

.boxed.relationList td {
	line-height: 20px;
}

.boxed.relationList .mimetype:empty {
	display: none;
}

.boxed.relationList .assoc_obj_title {
	/*min-height:46px;*/
	border-bottom:1px solid #999;
}


.boxed.relationList .assoc_obj_title input {
	width: 100%
}

.boxed.relationList .description  {
	display:block;
	font-style:normal;
	width:auto;
	white-space: normal;
	text-align: left;
	margin-top:5px;
}

.boxed.relationList .description  textarea {
	width: 100%;
}

.boxed.relationList input[type=text] {
	width:100%;
	margin-bottom: 5px;
}

.boxed.relationList label  {
	border-top:1px solid #999;
	width:140px;
	display:block;
	color:#000;
	padding-top: 5px;
}

.relViewOptions {
	margin: 0px 10px 10px 10px;
	text-align:right;
}

.relViewOptions img.viewthumb {
	opacity:.2;
}

.relViewOptions img.viewsmall {
	opacity:1;
}

.boxed .relViewOptions img.viewthumb {
	opacity:1;
}

.boxed .relViewOptions img.viewsmall {
	opacity:.2;
}

/*...........................................    

   Tree

...........................................*/

.publishingtree {
	min-width: 290px;
}

.dashboard .publishingtree {
	min-width: 0;
}

/*
.insidecol.publishingtree:hover {
	width:275px;
	background-color:#b6b6b6;
}
*/
/*
.publishingtree LI  {
	padding:2px; margin:0px;
	list-style-type:none;
	list-style-position: outside;
	border-left:0px dotted #666666;
	border-top:0px dashed #999999;
}
*/
.publishingtree LI A {
	padding: 5px;
	display: inline-block;
	vertical-align: top;
	margin-top: -6px;
}

.publishingtree LI A:hover {
	background-color: #B6B6B6;
}

.publishingtree DIV.pub {
	margin: 0px 0px 10px 0px;
	clear:both;
	word-wrap: break-word; /* or "normal" */
}

.pub H2 {
	margin: 0px 0px 10px 0px;
	background-color:#dedede;
	padding: 7px 5px 7px 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	min-width: 100%
}

.pub H2 A {
	color: #444;
	/*text-transform:uppercase;*/
}

.publishingtree H2 A {
	font-weight:normal;
	border-bottom:0px;
}

.publishingtree H2:Hover {
	/*background-color:#d8d8d8;*/
}

.publishingtree H2 A.plusminus {
	/*display:inline-block;
	padding-right:10px;*/
}

.publishingtree H2 A.plusminus:before {
	content: "+";
}

.publishingtree H2.open A.plusminus:before {
	content: "−";
}


.publishingtree h2 {
	cursor:pointer;
	background-image: url('../img/piumeno.gif'); 
	background-repeat: no-repeat;
	background-position: 1px 0;
}

.publishingtree h2.open {
	background-position: 1px -25px !important;
}


.publishingtree *[rel] {
	cursor:pointer;
}

.publishingtree UL {
	min-width:275px;
	margin-left: 7px;
	display:none;
}

.publishingtree UL.loading:empty {
	min-height: 30px;
}

.publishingtree UL.loading:empty:before {
	content: 'loading'
}

.publishingtree A {
	cursor:pointer;	
}

.publishingtree A:Hover {
	/*background-color:#d8d8d8;*/
}

.publishingtree H2 A.treeAreaTitle {
	padding-left:7px
}

.publishingtree .on {
	color:#FFF;
	font-weight:normal;
}

.publishingtree .on:hover {
	color:#FFF;
}

.publishingtree INPUT {
	margin-right:5px;
}


#treecontrol {
	text-transform:lowercase;
	border-bottom:1px solid gray;
}


.areaSectionAssociation OPTION {

	border-bottom:1px solid silver;
	
}

.menutree LI.sec_draft A, .menutree LI.sec_off A {
	color: gray !important;
}
	

.publishingtree .protected {

}

.publishingtree .protected > A.treeAreaTitle {
	padding-left:24px; 
	background: transparent url('../img/iconLocked.png') center left no-repeat;
	background-size: 24px;
}

.publishingtree .protected > A:after {
	
}


/*...........................................    

   Toolbar

...........................................*/


.toolbar .evidence {
	/* view simple ".evidence" below */
}

.toolbar A {
	color:#FFFFFF;
}

.toolbar H2 {font-size: 1.1em; margin-top:20px; margin-bottom:10px;}

.toolbar TD {
	border-right:1px solid gray;
	padding:5px 15px 5px 15px;
	vertical-align:middle;
}

.toolbar TD:last-child {
	border-right:0px solid gray;
}
.toolbar TD:first-child {
	padding-left:0px;
	padding-top: 10px !important;
}

/*...........................................    

   Custom Lists

...........................................*/


UL.bordered LI  {

	border-top:1px solid #999999;
	

	padding: 5px 0px 5px 0px;

}

UL.bordered LI:first-child {padding-top:0px; border-top:0px solid red}


UL.bulleted {
	padding-left:20px;
}

UL.bulleted LI {
	list-style-type: disc;
}

/*...........................................    

   Tables

...........................................*/

TABLE {empty-cells:show; border-spacing:0px;  border-collapse:collapse; }

TD, TH {padding:5px; text-align:left}

TH {text-transform:lowercase; padding:2px 5px 2px 5px;}

TD.center, TH.center {
	text-align:center;
	vertical-align:middle;
}

TABLE.bordered {
	width:100%;
}

.bordered TD, .bordered TH  {
	border-color:#999999; 
	border-style:solid;
	border-width:0px 0px 1px 1px; 
}


.bordered TD:first-child, .bordered TH:first-child {
	border-left:0px;
	padding-left:10px;
}


TABLE.indexlist {
	width:100%;
	border-bottom: solid 1px #666;
}
 
TABLE.indexlist H4{
	vertical-align: middle;
	display: inline-block;
	min-height: 30px;
}
  
.indexlist thead {
	border-bottom: solid 1px #666;
	font-weight: bold;
	background-color: #DFDFDF;
}

.indexlist TH  {
	/* font-weight: bold; */
	/* background-color:#FFFFFF; */
	white-space: nowrap;
	line-height: 30px;
	text-transform: capitalize;
}

.indexlist TD  {
	border-bottom:1px solid #d8d8d8;
	vertical-align: top;
	/*padding-top: 10px; padding-bottom: 10px;*/
}

.indexlist TD.custom-property-cell P {
    max-width: 160px;
    word-break: break-all;
    text-overflow: ellipsis;
    max-height: 20px;
	overflow:hidden;
}

.indexlist .show_on_more {
	display: none;
}

.indexlist .show_more .show_on_more {
	display: block;
}

.indexlist .show_more .assoc_obj_title h4.editable{
	display: none;
}

.indexlist TD:first-child  {
	/* text-align:right; */
	width:20px;
	/* white-space:nowrap
 */}
 
 .indexlist TD.priority-column  {
	text-align:right;
	white-space:nowrap
 }

.indexlist TD.assoc_obj_title  {
	white-space:normal;
	width: 100%;
	word-break: break-all;
}

.indexlist TD.commands  {
	white-space:nowrap;
	text-align: right;
}

.indexlist TD.moredata input {
	width: 100%;
}

.indexlist tr:last-child TD {
	border-bottom:0px solid #d8d8d8;
}

.indexlist TD .description  {  
	width: 100%; 
	display: none;
}

.indexlist TD .description textarea { 
	width: 100%; 
}

.indexlist .filethumb {
}

.indexlist .filethumb img {
	width: 64px; 
}

.indexlist TR[rel] {
	cursor:pointer;
}

.indexlist.bordered TH {
	background-color:transparent;
}

.indexlist TD.checklist {
	width:15px; 
	padding: 5px 0px 0px 0px;
	vertical-align:top;
	text-align:right;
	white-space:nowrap;
}

.indexlist TD.checklist img {
	height: 28px;
	margin: -5px 0 0 -5px;
	vertical-align: top;
}

.indexlist TR:Hover {
	/*
background-color:#d8d8d8;
*/
}

TABLE.indexlist TH.on * {
	color:red !important;
}

A.asc, A.desc {
	font-weight: bold;
}

A.asc:after {
	content: " ▲";
}

A.desc:after {
	content: " ▼";
}

.indexlist TR.overChecked,.indexlist TR.overChecked:Hover {
	background-color:#ffffff !important;
}

.condensed TD, .condensed TH {
	padding:2px;
}

.valigntop TD {vertical-align:top}

.ultracondensed TD, .ultracondensed TH {
	padding:0px;
}

.vtop TD {
	vertical-align:top;
}

.sortableTable thead TH {
	cursor:pointer;
	color: #666;
}

th.headerSortUp , th.headerSortDown { 
    color: #000 !important;
}

TABLE.noborder TD, TABLE.noborder TH {
	border:0px;
}

/*...........................................    

    States

...........................................*/

.over  {
	background-color:#d8d8d8;
/* 	background-color:#FFFFFF; opacity:0.25; */
	
}


/*...........................................    

    MultimediaItems

...........................................*/

.multimediaiteminside img {
	width: 100%;
}

.multimediaitem {
	width: 140px;
	background-color:#FFFFFF;
	border:0px solid white;
	padding:10px;
	margin-right:10px;
	margin-bottom:10px;
	float:left;
}

.multimediaitem:hover {
	background-color:#DDD;
}

.multimediaitem input, .multimediaitem textarea, .multimediaitem LI {
	font-size:0.9em;
}


.multimediaitem IMG {
    max-width: 100%;

}

.multimediaitem UL {
	display:block;
}

.multimediaitem LI {
	border-bottom:0px solid #999999;
	padding:2px 0px 0px 0px;
}

.multimediaitem LI:last-child {
	border-width:0px; padding-bottom:0px;
}


.multimediaitem.off {
	
	opacity:0.33
	
}

.multimediaitem.small {
	width:75px;
	line-height:1em;
	padding:6px;
	margin-right:7px;
	margin-bottom:7px;
}

.multimediaitem.small .imagebox {
	width:75px !important;
	height:75px !important;
	overflow:hidden !important;
}

.multimediaitem.small IMG {
	width:75px !important;
	height:auto !important;
}


.multimediaitem.small .info_file_item {
	display:none;
}



.multimediaitem.list {
	border-bottom:1px solid red;
	width:640px;
	display:table-cell;
	height:auto;
}


.multimediaitem.list .imagebox, .multimediaitem.list textarea {
	display:none;
}

.multimediaitem.list table.ultracondensed {
	display:none;
}

.multimediaitem .info_file_item LI {
	color:gray;
	padding:0px; 
	border-top:1px solid silver;
	white-space: nowrap;
	overflow: hidden;
}

.multimediaitem input, .multimediaitem textarea {
	width:120px;
	background: transparent;
}

.multimediaitem textarea {
	height:60px;
	overflow: auto;
}


IMG.multimediaitemToolbar  {
	vertical-align:middle;
	cursor:pointer;
}


IMG.multimediaitemToolbar.viewsmall {
	background-position: -18px;
}

IMG.multimediaitemToolbar.viewthumb {
	background-position: -36px;
}

.dark.multimediaitem {
	background-color:#000000;
	color: #999999;
	border-color: #333333;
}


.dark.multimediaitem input, .dark textarea  {
	border-color: #333333;
	color: #999999;
	
}

.gold.multimediaitem   {
	background-color:gold;	
}


.dark.multimediaitem .priority {
	color: #FFFFFF;
}

.progressBar {
	width:100px;
	background-color: red;
	float:left;
	margin-right:5px;
}

/*...........................................    

    mediatypes

...........................................*/

UL#mediatypes  {
	padding: 0px;
	margin: 0px;
}

#mediatypes LI {
	list-style:none;
	padding:4px 0px 0px 32px;
	margin:0px;
	background-repeat: no-repeat;
	margin-top:6px;
	cursor:pointer;
}

#mediatypes .inline LI {
	padding:4px 8px 0px 26px;
	margin-right:8px;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
	width: 130px;
	height: 24px;
}


#mediatypes .on {
	background-position: left -24px;
}
	
#mediatypes .inline .on {
	/*background-color: #FFF;*/
}

/*...........................................    

    media iconset

...........................................*/

.ico_image {background-image: url('../img/iconset/24px/image.png');}
.ico_archive {background-image: url('../img/iconset/24px/archive.png');}
.ico_video {background-image: url('../img/iconset/24px/video.png');}
.ico_audio {background-image: url('../img/iconset/24px/audio.png');}
.ico_text {background-image: url('../img/iconset/24px/text.png');}
.ico_spreadsheet {background-image: url('../img/iconset/24px/spreadsheet.png');}
.ico_presentation {background-image: url('../img/iconset/24px/presentation.png');}
.ico_drawing {background-image: url('../img/iconset/24px/drawing.png');}
.ico_chart {background-image: url('../img/iconset/24px/chart.png');}
.ico_formula {background-image: url('../img/iconset/24px/formula.png');}
.ico_rss {background-image: url('../img/iconset/24px/rss.png');}
.ico_rss.on {background-image: url('../img/iconset/24px/rss-on.png');}
.ico_application {background-image: url('../img/iconset/24px/application.png');}

.icon-image,
.icon-video,
.icon-audio,
.icon-text ,
.icon-spreadsheet,
.icon-presentation ,
.icon-drawing,
.icon-chart,
.icon-formula,
.icon-rss,
.icon-gallery,
.icon-application {

}


/*...........................................    

    Forms

...........................................*/


INPUT, TEXTAREA, SELECT {
	padding:5px;
}
INPUT[type=text], INPUT[type=file], INPUT[type=search], TEXTAREA {
	border:1px solid silver;
}

INPUT[type=checkbox] {
	vertical-align:middle;
}

INPUT[type=checkbox] + label{
	vertical-align:middle;
}

input[type=radio] {
	margin-right:5px; vertical-align:middle;
}

input[type=radio] {
	margin-right:5px; vertical-align:middle;
}

INPUT[readonly] {
	color:gray;
	background-color:#dedede;
}


label {font-weight:bold;vertical-align: middle;}

label.block {display:block; margin-top:4px; margin-bottom:2px}

fieldset {border:0}

textarea {
	overflow:auto;
	vertical-align: top;
}

textarea#description, textarea#title, textarea#addtaglist, textarea.longtext, textarea.mce, textarea.mceSimple {
	width:640px; 
}

input#titleBEObject, input#title, textarea.subtitle {
	width:380px;
}

#title input#titleBEObject, input#title, textarea.subtitle {
	width:460px;
}


input#titleBEObject {
	padding:5px 0px 5px 5px; font-size:1.25em;
	margin-bottom: 10px;
}

INPUT.priority {
	text-align:center; 
	margin: 5px 0;
	width:20px;
	height:20px;
	border-radius:35px !important; 
	font-size: 11px;
	border-width:0px !important;
	color:#FFF !important;
	padding: 2px;
	vertical-align: middle;
}

INPUT.objectCheck {
	/* margin-top:5px; */
}

INPUT[type=text],INPUT[type=password], textarea {	
	border-radius : 7px; 
	border:1px solid silver;
}

#pwd, #pwdagain, INPUT[type=password] {
	letter-spacing:2px;	
}

INPUT.big {
	font-size:1.315em;
}

INPUT[type=button], INPUT[type=submit], button  {
	text-transform:uppercase;
}

SELECT {
	width:auto;
}
SELECT#selObjectType {
	min-width:240px;
}

/*...........................................    

    Buttons

...........................................*/

A.BEbutton  {
	padding:4px 8px 4px 8px !important;
	min-width: 25px;
	display: inline-block;
	text-align: center;
}

.bemaincommands {
	width:100px !important;
	display:block; 
	margin:5px auto;
}

.bemaincommands, .BEbutton, input[type=submit], input[type=button], button {
	/* background:#F2F2F2 url(../images/BEbutton_dark.gif) repeat-x scroll left top; */
	background-color:#F2F2F2;
	line-height:1.2em;
	border-color:#BBBBBB;
	color:#333;
	border-radius : 9px; 
	border-style:solid;
	border-width:1px;
	cursor:pointer;
	line-height:16px;
	padding:2px 5px;
	text-decoration:none;
}

input[type=submit]:hover, input[type=button]:hover, A.BEbutton:hover, button:hover {
	background-color:#666;
	color:#FFF;
	outline:0px;
}

*[disabled] {
	opacity:0.4;	
}

*[disabled]:hover {
	background-color:#F2F2F2 !important;
	color:#333 !important;
}

:focus { outline: none; }
:active { outline: none; }

A.BEbutton.golink:before {
	content:"go";
}

/*...........................................    

    footer

...........................................*/

#footerPage {position:absolute; top:600px; left:20px; width:160px;}


/*...........................................    

    messages

...........................................*/

#messagesDiv {
	/*background:transparent url(../img/shadowpattern160.png);*/
	top:20px; 
	left:20px;
	position: fixed !important;
	z-index:9999;
	line-height:1.2em;
	/*height: 90%;*/
}
			
.message {
	width: 290px; 
	min-height: 136px; 
	padding:10px;
	background-color:#333;
	color:#FFF;
}

.message A {
	color:#FFF;
	display:block;
}

.messageDetail {
	width:340px; 
	min-height:136px; 
	padding:10px;
	background-color:#FFF;
	color:#000;
	position: absolute !important;
	max-height: 100%;
	overflow-y: auto;
	left: 140px;
	top: 0px;
}


.message.error H2 {
	color:red;
}

.message.warn H2 {
  	color:gold;
}

.message.info H2 {
	color:#996600;
}

.message LABEL {
	display:block;
}


/*...........................................    

    Tags

...........................................*/

.tag {
	font-size:1em;
	font-weight: normal;
	line-height:1.2em;
}

.tag A:Hover {
	text-decoration:underline;
}

.tagToolbar {
	cursor:pointer;
	vertical-align:middle;
}

.smallestTag {
	font-size:1em;
}

.smallTag {
	font-size:1.2em;
}

.mediumTag {
	font-size:1.4em;
}


.largeTag {
	font-size:1.8em;
}

.largestTag {
	font-size:2.2em;
}

/*...........................................    

    Filter form

...........................................*/

.filters th {
	width: 1px;
	vertical-align: top;
	padding-top: 8px;
	white-space: nowrap;
}

.filters td {
	vertical-align: top;
}

/*...........................................    

    Ajax

...........................................*/


#loading, .loader {
	/*background: transparent url(../img/loadingAnimation.gif) no-repeat top center;
	display:none;
	min-height:48px;
	min-width:48px;*/
}

.modaloader {
	/*background: transparent url(../img/loadingAnimation.gif) no-repeat center !important;*/
}


/*...........................................    

    Modal

...........................................*/

#modaloverlay {
	position:fixed;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	background-color:black;
	/*opacity:0.8;*/
	z-index:499;
	display:none;

}

#modal {
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	top: 20px;
	bottom: 20px;
	max-height: 100%;
	height: auto;
	background: transparent;
	width:660px;
	display:none;
	z-index:500;  
	overflow: hidden;
}

#modalmain {
	width:100%;
	height: calc(100% - 21px);
	overflow:hidden;
	position: relative;
	background: #FFF;
}

#modalmain .bodybg{
	max-height: -webkit-calc(100% - 55px);
	max-height: calc(100% - 55px);
	overflow-y:auto;
	overflow-x:hidden;
	min-height: calc(100% - 55px);
	min-height: -webkit-calc(100% - 55px);
}

#modalmain .body {
	padding:10px;
	/*min-height:505px;*/
}

#modalmain A.BEbutton.remove {
	display: none;
}

#modalmain .search, #modalmain .quick, #modalmain .quickmedia {
	display:none;
	padding:10px;
}

#modalmain .quickmedia {
	padding:0px;
}

.modalcommands {
	padding:10px; margin-top:0px;
	text-align:center; 
	background-color:#FFFFFF;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#modalheader {
	background-color:#000000;
	/*width:480px;*/
	height: 30px;
	line-height: 28px;
	padding-top: 2px;
	padding-right:20px;
	text-align:right;
	color:white;
}
/*
#modalheader:Hover {
	background-color:#333;
}
*/
#modalheader A {
	color:white;
	cursor:pointer;
	margin-left: 20px;
	padding-left: 20px;
	border-left: solid 1px #FFF;
}


#modalmain .trigger {
	background:white url('../img/piumeno.gif') no-repeat left 2px; 
	padding:5px 0px 5px 30px;
	font-weight:bold;
	cursor:pointer;
	border-bottom:1px solid #CCC;
}

#modalmain .trigger.open {
	background-position: left -25px;
}

/*...........................................    

    Select user modal

...........................................*/

#selectuser td:first-child {
	padding-left: 8px;
}

#selectuser td:nth-child(2) {
	width: 1px;
	padding-right: 100px;
}

#selectuser td:nth-child(3) {
	width: 100%;
}


/*...........................................    

    Specific template layout: login

...........................................*/

	.login {

		margin-left: 320px;
		

		padding-top: 20px;
	}

	.login form{
		width:140px;
	}

	.login input {
		width:140px;
	}

	.login .bemaincommands {
		margin:20px 0px; 
		width: 140px !important;
		padding:5px;
	}

/*...........................................    

    Specific template layout: home

...........................................*/

.home UL.modules {
	margin:0px; 
	border:0px solid green; 
	width:auto !important
}
.home UL.modules LI {
	padding:0px; 
	width:140px; 
	display:block; 
	float:left;
	margin: 0px 0px 10px 10px;
	border-bottom:20px solid rgba(0,0,0,.3);
	transition: border 250ms;
}

.home UL.modules LI:hover {
	border-bottom:10px solid rgba(0,0,0,0.3);
}

.home UL.modules LI A {
	display: inline-block;
	width: 100%;
	height:100%;
	color:#FFF;
	padding: 10px;
}

.home UL.modules LI.bedita {
	width:120px;
}

.home  .modulesmenutop {
	display:none;
}

LI.welcome {
	width: 260px !important;
	background:transparent none;
	font-size:1em; 
	color:#000000;
	padding-top:5px;
	padding-bottom:15px;
}

.dashboardcontainer {
	margin: 0px 0px 0px 160px;
	overflow: hidden;
}

.dashboard {
	margin: 20px 0px 0px 10px;
	float:left;
	width: 290px;
}

.dashboard.dashboard-tools {
	clear: left;
}

.dashboard.dashboard-modules {
	float: left;
	width: auto;
	margin: 20px 0px 10px 0px;
	min-width: 300px;
}


.dashboard .modules LI {
	height:110px;
}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1200px) {

}


@media only screen and (min-width: 1500px) {

}



.dashboard H1 {
	margin-bottom:5px;
}

.dashboard H2.open {
	background-color:#333;
	color: #FFF !important;
}

.dashboard .pub H2.open A {
	color: #FFF !important;
}

.dashboard .bordered {
 margin-bottom:10px;
}

.hometree div > UL.menutree {
	overflow-x:hidden;
	border:0px solid red;
	margin-bottom:10px;
}

.hometree LI {
	white-space:nowrap;
}

#new form {
	margin-bottom:20px;
}

#new form label {
	display:block;
}

#new form textarea, #new form select, #new form input[type='text'] {
	width:100%; 
}

#new form input[type='submit'] {
	width:40%;
	margin-right:5%;
}

#searchResult {
	margin-top:10px;
}
/*...........................................
 
	 Specific template layout: publishing

...........................................*/

	
TABLE.areaform {
	width:100%
}
.areaform INPUT[type=text], .areaform TEXTAREA, .areaform SELECT {
	width:100%;

	
}
.areaform TH {
	width:100px;
}

/*...........................................
 
	 Specific template layout: admin/user

...........................................*/

#userForm INPUT[type=text] {
	width:320px;
}



/*...........................................
 
	 Specific template layout: statistics

...........................................*/

Table.graph {
	border-collapse:collapse;
	margin-top:10px;
}
Table.graph TD {
	padding:0px;
}
Table.graph TD.label {
	text-align:right; padding-right:5px;
	border-right:1px solid #666;
}
Table.graph TD DIV.bar {
	height:20px; border:0px solid gray;
	margin-bottom:1px;
	margin-right:1px;
	float:left; vertical-align:middle;
	background-color:#FFF;
}


Table.graph .value {
	padding-left:5px; vertical-align:middle;
}

/*...........................................    

    Specific element layout: permissions

...........................................*/

#permissions .indexlist TD, #permissions .indexlist TH {
	white-space: nowrap;
	text-align: left;
}

/*...........................................    

    Specific template layout: events calendar

...........................................*/

.eventitem, .datelabel {
	background-color:#fff; 
	border:0px solid gray; 
	margin:0 10px 10px 0; 
	display:block; 
	width:140px; 
	height:110px; 
	float:left;
}

.datelabel {
	background-color: #0099CC;
	color: #FFF;
	font-size: 1.275em;
	line-height: 1.1;
	text-align: center;
	padding:10px 5px;
}

.eventitem.draft, .eventitem.off {
	opacity:.5;
}

.eventitem:hover {
	background-color: #CCC;	
}
.eventitem time.hour {
	padding:2px 5px 2px 5px; display:block;
	color:#0099CC;
	font-weight: normal;
}

.datelabel .day {
	font-size:2em;
	display:blocK;
}

.datelabel .year {
	display:blocK;
}

.date_exceptions {
    padding: 5px 60px 0px 0px;
	text-align:right;
}


.daterow {
	padding-bottom:8px; 
	margin-bottom:8px;
    border-bottom: 1px solid #a0a0a0;
}
.daterow:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.newdaterow .dateinput,
.daterow .dateinput {
	width: 6.1em;
}
.newdaterow .timeinput,
.daterow .timeinput {
	width: 3.6em;
}

.newdaterow input[type=text], .daterow img,
.daterow input[type=text], .daterow img {
	margin-right: .7em !important;
	text-align: right;
}
.newdaterow img,
.daterow img {
	margin-left: -.35em !important;
}
.newdaterow div,
.daterow div {
	display: inline-block;
	margin-right: .7em;
}

.daterow .rownumber {
	display: inline-block;
	min-width: 22px;
	margin-right: 1em;
	padding: 0.675em;
	background-color: #333;
	border-radius: .5em;
	font-size: .825em;
	line-height: 1em;
	color: #EEE;
	text-align: center;
}


/*...........................................    

    accessories

...........................................*/

.editornotes {
	line-height: 16px!important; 
	width: 100%; 
	max-width: 100%;
	padding:5px;
	font:normal 12px Arial,Helvetica, sans-serif;
	/* background: transparent url('../img/sfo_zebranotes.gif'); */
}

textarea.editornotes  {
	color: #9a5830; 
}

P.editornotes {
	color: gray;
	padding:0px;
	width:auto; 
	margin-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	line-height:1.2em !important;
}

#editornotes IMG {
	margin-bottom:5px
}

#editornotes .date {
	color:#666; 
	font-size:0.8em;
	white-space:nowrap; vertical-align:bottom; text-align:right;
	width:100%;
}

#editornotes .autor {
	font-size:0.9em;
	vertical-align:bottom; 
	font-weight:bold;
	white-space:nowrap; 
}

.editorheader {
	border-bottom:1px solid silver;
}


.colophon {
	width:240px !important;
	background:transparent none !important;
	font-size:1em !important; 
}

.colophon .belinks, .colophon .belinks A {
	color:#333 !important;	
}

.evidence {
	font-size: 1.3em;
}

.messageboard {
	font-size:1em;
	line-height:1.2em;
	overflow:auto; 
	background-color:#FFFFFF; 
	border:0px solid #999999;
	height:120px;
	
}

.messageboard HR {
	border-color: silver;
	border-style:dotted;
	
}


.listobjnav  {
	text-align:center;
	padding:10px;
	color:#888;
	font-size:4em;
}

.listobjnav  A {
	
	color:#333;
}

.listobjnav  A:Hover {
	color:#000;
}


#previews {
	width:140px;
	margin-left:0px;
	padding-left:0px;	
}

#previews LI {
	line-height:1.1em;
	padding-top:5px;
}

.catselector {
	background-color: #B6B6B6 !important;
}

.catselector {
	background-color: #B6B6B6 !important;
}

	
.bedev {
	background-color:pink;
}

code del {
	color:red
}

code ins {
	color:green
}

.clear {
	clear:both;
	height:0px;
	width:0px;
	line-height: 0px;
}

/*...........................................    

   Print Layout

...........................................*/

/* refer to css/print.css */


/*...........................................    

   Help

...........................................*/

.helptrigger {
	font: normal 18px  'Georgia', serif; 
	color:#996633 !important; 
	background-color:white;
	text-align:center; padding: 2px 5px 0px 5px !important; 
	height:23px !important;
	/*
	position:absolute; left:960px; top:135px;
	width:auto; height:23px; 
	*/
}

.helptrigger:Hover, .helpon {
	background-color:black !important;
	color:white !important;
}

#helpcontainer {
	display:none; width:660px; background-color:#fff; min-height:630px; 
	position:absolute; left:300px; top:20px;
}

#helpcontainer H2 {
	font-size:20px!important; margin: 0px 0px 20px 0px
}

#helpcontainer2 {
	width:620px; min-height:590px;
	margin:20px; color:#333; font-size:14px;
}

.loadingHelp {
	background: transparent url(../img/loadingAnimation.gif) no-repeat center 200px ;
}


/*...........................................    

   Uploadify

...........................................*/

.uploadifyQueueItem {
	border: 1px solid silver !important;
	margin-top: 5px;
	padding: 10px;
	width: 300px;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 0px solid red;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 3px;
}

#vcontainer {
	border:5px solid #000;
	border-radius : 11px; 
	-moz-border-radius : 11px; 
	-webkit-border-radius : 11px;
	-khtml-border-radius: 11px;
}

/*...........................................    

   New Upload system

...........................................*/

.fileupload {
	height: 108px;
	border: 2px dashed #999;
	border-radius: 20px;
	margin: 10px;
	padding:10px;
	text-align: center;
}

.fileupload:after {
	content:"drag your files here";
}

/*...........................................    

   Tooltip

...........................................*/

.ui-tooltip {
	z-index: 1000;
	background: #111;
	border-radius: 0;
	padding: 5px;
	color: white;
	width: auto;
	position: absolute !important;
}

.ui-tooltip:before {
	content: '';
	position: absolute;
	display: inline-block;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent; 
	border-bottom: solid 10px #111;
	left: 50%;
	bottom: 100%;
	margin-left: -13px;
}

.tip { 
	/*background: transparent url(../img/black_arrow-up.png); */
	background-color:#FFF;
	padding:20px; 
	position:absolute;
	z-index:100;
	opacity:1;
	width:100px;
	color:#333;
	border:0px solid #999;

	-moz-box-shadow: 0px 0px 10px #000;
	-webkit-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
}

.viewport-right {
	background: red url(../img/black_arrow.png); 
}
	
.viewport-bottom {
	background: green url(../img/black_arrow.png); 
}


/*...........................................    

   validate

...........................................*/

label.error {
	/*margin-left:10px;*/
	color:red;
}

.required.error {
	background-color:red !important;
}

/*...........................................    

   UI varie

...........................................*/

.shadow {
	-moz-box-shadow: 0px 0px 5px #666;
	-webkit-box-shadow: 0px 0px 5px #666;
	box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

.shadow20 {
	box-shadow: 0px 0px 20px rgba(0,0,0,.2);
}

img.smallicon {
	width:25px;
}


/*...........................................    

  	modulesmenu_d // modules menu

...........................................*/

	.modulesmenu_d {
		display:none;
		height:auto; 
		position:absolute;
		z-index:800; 
		top: 130px; 
		left: 20px;
	}

	.modulesmenu_d nav {
		overflow:auto; 
		min-width: 290px;
		padding-left:0px;
		min-height:140px; 
		background-color:#fff;
	}
	.modulesmenu_d UL {
		margin:0px 0px 0px 0px;
	}
	.modulesmenu_d LI {
		background-color:transparent !important;
		display:block;
		border-top:0px solid #CCC;
		padding: 5px 0px 5px 25px;
		/* border-left: 25px solid transparent; */
		border-right: 25px solid transparent;
	}
	
	.modulesmenu_d LI A {
		display:block;
		background-color:transparent !important;
	}
	
	.modulesmenu_d nav LI:first-child {
		border-top:0px solid #CCC;
	}
	
	.modulesmenu_d LI:nth-child(even) {
		background-color: #f0f0f0 !important;
	}

	.modulesmenu_d LI:hover {
		background-color: #ccc !important;
	}	

	.modulesmenu_d img.smallicon {
		vertical-align:middle;
		margin-left:-25px
	}
	
	.modulesmenu_d LI.index {
		border-right:0px;
		padding-right:10px;
	}
	
	.sub_modulesmenu_d {
		display:none; 
		background-color:#FFF; 
		position:absolute;
		z-index:700;
		border-right:25px solid gold;
	}
	
	.sub_modulesmenu_d li {
		display:block;
		border-top:0px solid #CCC;
		padding:5px 0px 5px 25px;
		border-right:25px solid transparent;
	}
	
	.sub_modulesmenu_d nav LI:first-child {
		border-top:0px solid #CCC;
	}
	
	.sub_modulesmenu_d LI:nth-child(even) {
		background-color: #f0f0f0 !important;
	}

	.sub_modulesmenu_d LI:hover {
		background-color: #ccc !important;
	}	

	.sub_modulesmenu_d LI A {
		display:block;
	}
	
	
/* Drag&drop di elementi multimediali nel testo */
	
.dropTarget {
	position: relative;
	width: 100%;
	display: none;
}
.dropSubTarget {
	display: none; 
	position: relative;
	height: 90%;
}
.dropSubTarget.allowed {
	background: #ffffff;
	border: 8px solid #000000;
	border-left: 0px;
	opacity: 0.5;
}
.dropSubTarget.allowed:first-child {
	border-left: 8px solid #000000;
}
.dropSubTarget.allowed.hover { /*pseudo classe aggiunta in js (stiamo trascinando, niente mouseover)*/
	background-color: #999999;
	border-color: #666666;
	opacity: 0.75;
}
.dropSubTarget.denied {
	background: #999999;
	opacity: 0.75;
}
.dropSubTarget.allowed p {
	text-transform: uppercase;
	text-align: center;
	margin-top: 30%; 
	font-size: 24px;
	line-height: 40px;
	color: black;
}
.dropSubTarget.allowed p + p {
	position: absolute;
	bottom: 0;
	margin-top: 0;
	margin-bottom: 40px;
}
.denied p {
	text-transform: uppercase;
	text-align: center;
	margin-top: 20%; 
	font-size: 20px;
	line-height: 40px;
	color: white;
}
	
#ticketRelated .resolved {
	text-decoration:line-through;
	opacity:0.35;
}

span.highlight {
	color: red;
}

/* ckeditor */
.cke {
	margin-bottom: 10px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* select2 */

.select2-container .select2-choice abbr {
	top: 6px !important;
}

.select2-results {
	overflow: auto !important;
}

.select2-results li {
	padding-left: 5px;
}

.select2-results .select2-result-label {
	/*white-space: nowrap;*/
}

.select2-results .select2-result-label .gray{
	color: #999;
}

.select2-results .select2-result-label A{
	position: absolute;
	margin-left: -10px;
}

.select2-container.areaSectionAssociation {
	width: 100%;
	max-width: 550px
}

/*** 
	external auth buttons
***/

form.auth_form {
	width: 46px;
	display: inline-block;
}

input[type=submit].auth_button {
	width: 46px;
	height: 46px;
	border: none;
}

input[type=submit].auth_button_facebook {
	text-indent: -1000px;
	background-image: url('../img/facebook.svg');
	background-size: cover;
}

input[type=submit].auth_button_twitter {
	text-indent: -1000px;
	background-image: url('../img/twitter.svg');
	background-size: cover;
}

input[type=submit].auth_button_google {
	text-indent: -1000px;
	background-image: url('../img/plus.svg');
	background-size: cover;
}

/***
	loading spinner
***/

#loading, .loader, .modaloader {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
    text-align: center;
}

#loading > *, .loader > *, .modaloader > * {
	color: white;
	z-index: 1;
	position: relative;
	line-height: 40px;
	text-shadow: 0 0 5px #333;
}

#loading:before, .loader:before, .modaloader:before, #loading:after, .loader:after, .modaloader:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

#loading:after, .loader:after, .modaloader:after {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% {
    	transform: scale(0.0);
    	-webkit-transform: scale(0.0);
  	} 
  	50% {
    	transform: scale(1.0);
    	-webkit-transform: scale(1.0);
  	}
}

#loading, .loader {
	display: none;
}

@media screen and (min-width: 1280px) {
    .dashboard.dashboard-modules {
    	max-width: 450px;
    }

    .dashboard.dashboard-tools {
    	clear: none;
    }
}

@media screen and (min-width: 1440px) {
    .dashboard.dashboard-modules {
    	max-width: 600px;
    }

    .dashboard.dashboard-tools {
    	clear: none;
    }
}
