BODY {
	margin-left: 0px;
	margin-top: 0px;
	background-color: #cccccc;
}

BODY, TD, DIV, INPUT, TEXTAREA, SELECT {
	color: #000000;
	font: 11px Verdana, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size-adjust: none;
	font-stretch: normal;
	line-height: normal;
}

H1, H2, H3, H4, H5 { font-family: Verdana, Arial, sans-serif; font-weight:bold; }

H1 {font-size:17px; margin-top:4px; margin-bottom:4px; line-height:0.95em;}
H2 {font-size:1.1em; margin-bottom:4px;}
H3 {font-size:1.0em; font-style : italic; margin-bottom:4px;}

* > H2:first-child { margin-top:0px; }
* > H3:first-child { margin-top:0px !important}

H2 + H3 {margin-top:8px;}

HR {
	border: 0px;
	border-top: 1px solid gray;
	height: 0px;
}

P {	margin-top: 5px;}

FORM {	margin-top:0px; margin-bottom:0px;}

TEXTAREA {
	height: 100px;
	overflow: auto;
	width: 450px;
}

INPUT {
	vertical-align:middle;
}

A {	color: #CC3333;	text-decoration: none;}
A:hover{text-decoration: underline;}
A IMG {border-color: black;}

/* BEGIN -- Pagine interne moduli */
#headerPage {
	clear:both; 
	display: block; 
	width:1000px; 
	margin-bottom:0px;
	border:0px solid black; 
	height: 45px;
}

#centralPage {
	clear:both; 
	display: block; 
	width:100%;
	margin-bottom:0px;
	border:0px solid black; 
	height: 45px;
}

#footerPage {
	clear:both; 
	display: block; 
	width:1000px;
	border:0px solid black; 
	margin: 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: right;
}

#menuLeftPage {
	width:136px; 
	float:left; 
	border:0px solid black; 
	padding: 0px 0px 0px 0px;
}

#containerPage {
	position:absolute;
	left:140px;
	border:0px solid black; 
	clear:both; 
	display: block; 
}

/* END -- Pagine interne moduli */

/* BEGIN -- Pagina Login */
#sxPageLogin {
	float:left ;
	width:136px; 
	margin-bottom:0px;
	border:0px solid black; 
	height: 400px;
}

#dxPageLogin {
	position:absolute;
	width:860px;
	height:400px;
	left:140px;
	margin-left:0px;
	border:0px solid black; 
}

/* END -- Pagina Login */

/* BEGIN -- Home Page */
#headerPageHome {
	clear:both; 
	display: block; 
	width:auto; 
	margin:0px ;
	border:0px solid black; 
}

#centralPageHome {
	clear:both; 
	display: block; 
	width:100%;
	margin-bottom:0px;
	border:0px solid black; 
	height: 355px;
}

/* END -- Home Page */

/* BEGIN -- Header Home page */

.beditaButtonHome {
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 
	background: #ffff00 url('/img/bedita_sfo.jpg') 0px -1px;
	color: black; 
	height:136px; 
	margin-left:-1px; 
	margin-bottom:0px;	
	width:136px; 
	float:left; 
	overflow:hidden;
	border:0px solid black; 
}

/* IE ignores styles with [attributes], so it will skip the following. */
#headerPageHome H1 {
  background-image: url(/img/sfo_gestUpD.png);
}
#headerPageHome H1 {
	color: white;
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 
	background-color: transparent;	background-repeat: repeat-x;
	/* IE hacks */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/img/sfo_gestUpD.png', sizingMethod='scale');
	height:126px;
	width:126px;
	float:left;
	font : bold 12px Arial, sans-serif;
	padding:5px;
	color: #ffffff;
	text-align:center; 
	white-space: nowrap; 
}



/* END -- Header Home page */



/* BEGIN -- Header page */

.beditaButton {
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 
	background: #ffff00 url('/img/bedita_sfo.jpg') 0px -1px;
	color: black; 
	height: 45px; 
	width:136px; 
	float:left; 
	overflow:hidden;
	border:1px solid black; 
}

/* IE ignores styles with [attributes], so it will skip the following. */
.gest_menux[class] {
  background-image: url(/img/sfo_gestUpD.png);
}
.gest_menux {
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 
	background-color: transparent;	background-repeat: repeat-x;
	/* IE hacks */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/img/sfo_gestUpD.png', sizingMethod='scale');
	height:16px;
	width:90px;
	float:left;
	font : bold 12px Arial, sans-serif;
	padding:4px 0px 2px 0px;
	color: #ffffff;
	text-align:center; 
	white-space: nowrap; 
}

/* IE ignores styles with [attributes], so it will skip the following. */
.gest_menuxHome[class] {
  background-image: url(/img/sfo_gestUpD.png);
}
.gest_menuxHome {
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 
	background-color: transparent;	background-repeat: repeat-x;
	/* IE hacks */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/img/sfo_gestUpD.png', sizingMethod='scale');
	height:16px;
	width:90px;
	float:left;
	font : bold 12px Arial, sans-serif;
	padding:4px 0px 2px 0px;
	color: #ffffff;
	text-align:center; 
	white-space: nowrap; 
}

/* END -- Header page */

/* BEGIN -- Menu Left */

.menuLeft	{
	color: #000000;
	width:136px;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.menuLeft, .menuLeft .inside {
	font : normal 12px Arial, sans-serif;
}
	
.menuLeft[class] H1  {
  	background-image: url(/img/sfo_gestUpD.png);
}

.menuLeft H1 {
	margin: -1px 0px 0px -1px; border:1px solid silver; cursor:pointer; 

	background-color: transparent;	background-repeat: repeat-x;
	/* IE hacks */
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/img/sfo_gestUpD.png', sizingMethod='scale');
	font : bold 14px Arial, sans-serif;
	padding:5px;
	height:126px;
	width:126px;
}

.menuLeft H2, .areablock {
	height:17px; color: white; 
	font: bold 12px Arial; margin: 10px 0px 10px 0px; padding:4px; background: gray none repeat-x; border:1px solid #CCCCCC;
	width:128px;
}


.menuLeft UL, gest_menuLeft OL {padding:0px}

H1.login {} H1.login A {color:#CC3333} 
H1.news {background-color:#CC00FF} H1.news A {color:#FFFFFF} 
H1.eventi {background-color:#3399CC} H1.eventi A {color:#FFFFFF} 
H1.percorsi {background-color:#cc9900} H1.percorsi A {color:#FFFFFF}
H1.documenti {background-color:#ff6600} H1.documenti A {color:#FFFFFF}
H1.aree {background-color:#ff9933} H1.aree A {color:#FFFFFF}
H1.commenti {background-color:#F08080} H1.commenti A {color:#FFFFFF} 
H1.questionari {background-color:#999966} H1.questionari A {color:#FFFFFF} 
H1.newsletter {background-color:#99cc33} H1.newsletter A {color:#FFFFFF}
H1.gallerie {background-color:#ffcc33} H1.gallerie A {color:#FFFFFF}
H1.iscrizioni {background-color:#33cc99} H1.iscrizioni A {color:#FFFFFF}
H1.soci {background-color:#4682b4} H1.soci A {color:#FFFFFF}
H1.reference {background-color:#cc3333} H1.reference A {color:#FFFFFF}
H1.prenotazioni_pc {background-color:#999999} H1.prenotazioni_pc A {color:#FFFFFF}
H1.autori {background-color:#99cccc} H1.autori A {color:#FFFFFF} 
H1.timeline {background-color:#3366cc} H1.timeline A {color:#FFFFFF} 
H1.cartigli {background-color:#993300} H1.cartigli A {color:#FFFFFF}
H1.ragazzi {background-color:#339900} H1.ragazzi A {color:#FFFFFF}
H1.superadmin {background-color:#000000} H1.superadmin A {color:#FFFFFF}
H1.xanadu {background-color:#ff3300} H1.xanadu A {color:#FFFFFF}
H1.ecommerce {background-color:#d2b48c} H1.ecommerce A {color:#FFFFFF}
H1.libreria {background-color:#ff0099} H1.libreria A {color:#FFFFFF}
H1.utilita {background-color:#ffffff} H1.utilita A {color:#999999}
H1.bacheca {background-color:#006666} H1.bacheca A {color:#FFFFFF}
H1.formazione {background-color:#6b8e23} H1.formazione A {color:#FFFFFF}
/* END -- Menu Left */

/* BEGIN -- Container Left */

.menuContainer {
	margin: 0px 0px 0px 0px; border:1px solid silver;
	background-color: white;	background-repeat: repeat-x;
	/* IE hacks */
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/img/sfo_gestUpD.png', sizingMethod='scale');*/
	padding:3px 3px 3px 3px;
	color:#696969;
	height:auto;
	width:572px;
}

.menuContainer A:Hover {
	text-decoration:none;
}

.menuContainer H1 {
	font : bold 18px Arial, sans-serif;
	color: black;
}

/* END --  Container page */

.simpleList {list-style: none;}
.simpleList LI {margin-bottom:4px;}

.simpleMenuList LI {
	list-style-type: none; line-height:1.2em; padding-left:10px; text-indent:-10px;
	margin-bottom:8px;
}
	
.simpleMenuList LI.on  {
	font-weight:bold;
}
