/* BEGIN -- intestazione Pagina con Form */

.FormPageHeader[class]  {
 /* background-image: url(/img/sfo_gestUpD.png);*/
}

.FormPageHeader {
	margin: 0;
	padding: 3px;
	background-color: white;
	color: #696969;
	min-width: 570px;
	width: 570px;
	border: 0 solid red;
}

.FormPageHeader A:Hover {
	text-decoration:none;
}

.FormPageHeader H1 {
	font : bold 18px Arial, sans-serif;
	color: #393939;
}

.FormPageHeader .submit {
	width:158px; padding:2px;
}

.FormPageHeader .submit:disabled {
	width:158px; padding:2px;
	color:white;
}

.FormPageHeader td {
	vertical-align:middle ;
}

.FormPageHeader td {
	vertical-align:middle ;
}
/*
.FormPageHeader #openAllBlockLabel {
	display:block;
}
*/
.FormPageHeader #closeAllBlockLabel {
	display:none;
}
/* END -- intestazione Pagina con Form */

/* BEGIN -- stili per i contenitori delle pagine */

#containerPage H2.showHideBlockButton  { /* was wrong: #containerPage H2, #containerPage .showHideBlockButton */
	color: white;
	font: bold 12px Arial;
	margin: 10px 0;
	padding: 4px;
	background: gray url(../img/bg_graytab.png) no-repeat scroll right top;
	border: 1px solid gray;
	cursor: pointer;
	width: 570px;
}

#containerPage .blockForm  {
	display:none;
}

#containerPage .tableForm  {
	width: 570px;
}

#containerPage .tableForm TD {
	vertical-align: middle;
	padding-bottom: 10px;
}

#containerPage .tableForm .inputText {
	width:350px ;
}

#containerPage .tableForm .cmdField {
	background: #fff;
	color: #333;
	border: 1px solid black;
}


/* stile per indicare l'avvenuto cambiamento dei dati in una pagina */
.alertChanged {
	font-weight: bold ;
	color:	red ;
}

.errorFieldForm {
	border: 1px solid red;
}

#errorForm {
	background-color: #eee;
	border: 1px solid red;
	margin: 5px;
	padding: 5px;
	width: 560px ;
}

#errorForm .errorFieldForm {
	border: 0px solid red;
}

label.iumd { color:red; }

/**
 * Form Validation
 */

fieldset {
	border: solid transparent 0px;
}

label.error {
	background: transparent url(../img/iconUnchecked.png) no-repeat 0 0;
	color: #F00;
	margin: 0;
	padding: 0 15px;
}

label.checked {
	background: transparent url(../img/iconChecked.png) no-repeat 0 0;
	margin: 0;
	padding: 0 7px;
}

TD.label {
  padding-right: 8px;
  text-align: right;
  width: 250px;
  white-space: nowrap;
}

TD.field {
  white-space: nowrap;
}

TD.status {
  padding-top: 2px;
  padding-left: 8px;
  width: 246px;
  white-space: nowrap;
}

.label {
	font-weight: bold;
}

.success_msg {
  font-weight: bold;
  color: #0060BF;
  margin-left: 19px;
}

#loginForm table {
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
}

#userForm table {
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
}
/* END -- stili per  pagina con Form */