/* BEGIN -- intestazione Pagina con Form */

.FormPageHeader[class]  {
 /* background-image: url(/img/sfo_gestUpD.png);*/
}

.FormPageHeader {
	margin: 10px 0px 10px 1px; border:1px solid silver;
	background-color: white;	background-repeat: repeat-x;
	padding:3px 3px 3px 3px;
	color:#696969;
	height:auto;
	min-width:570px;
	width:570px;
	border: 0px solid #696969;
}

.FormPageHeader A:Hover {
	text-decoration:none;
}

.FormPageHeader H1 {
	font : bold 18px Arial, sans-serif;
	color: #393939;
}

.FormPageHeader .submit {
	width:158px; padding:2px;
}

.FormPageHeader td {
	vertical-align:middle ;
}

.FormPageHeader td {
	vertical-align:middle ;
}
/*
.FormPageHeader #openAllBlockLabel {
	display:block;
}
*/
.FormPageHeader #closeAllBlockLabel {
	display:none;
}
/* END -- intestazione Pagina con Form */

/* BEGIN -- stili per i contenitori delle pagine */

#containerPage H2, #containerPage .showHideBlockButton  {
	color: white;
	font: bold 12px Arial;
	margin: 10px 0px 10px 0px;
	padding:4px;
	background: gray none repeat-x;
	border:1px solid gray;
	cursor:pointer;
	width:570px;
}

#containerPage .blockForm  {
	display:none;
}

#containerPage .tableForm  {
	width:570px;
}

#containerPage .tableForm TD {
	vertical-align:middle;
}

#containerPage .tableForm .inputText {
	width:350px ;
}

#containerPage .tableForm .cmdField {
	background: #fff;
	color: #333;
	border: 1px solid black;
}

#containerPage .tableForm .label {
	width:110px;
	font-weight: bold ;
	text-align: right ;
	white-space: nowrap;
}

/* stile per indicare l'avvenuto cambiamento dei dati in una pagina */
.alertChanged {
	font-weight: bold ;
	color:	red ;
}

.errorFieldForm {
	border: 1px solid red;
}

#errorForm {
	background-color: #eee;
	border: 1px solid red;
	margin: 5px;
	padding: 5px;
	width: 560px ;
}

#errorForm .errorFieldForm {
	border: 0px solid red;
}

/* END -- stili per  pagina con Form */