@charset "utf-8";
/* CSS Document */

body, td {
	font-family: "Arial","Verdana" , sans-serif;	
	font-size:13px;
	line-height:1.5em;
}


H1 {font-size: 1.6em; font-weight:normal; margin: 10px 0px 10px 0px}

H2 {font-size: 1.4em; font-weight:normal;}

H3 {font-size:1.2em; font-weight:normal; margin:0px}

H4 {line-height:1em; margin: 5px 0px 0px 0px}

blockquote {
	padding-left:10px;
}

dfn {
	font-style:normal; font-weight:bold; color:#003300;
}

/* mark a dfn insiede a dfn */

dfn dfn {
	border:2px dotted #ff0000;
	padding:0 2px 0 2px;
}

DT, DL {color: #653214;}

CODE {color: #ff6600}


sup, sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}


.placeholder {
	background-color:#ff3300;
}

.glossario {
	color:#336633 !important;
	text-decoration:underline;
}

.formula {
	color:#ff6600 !important;
}
