

/****** MAIN LAYOUT ******/
#header {

}

#left {

}

#infovis {
	margin-left:-480px;
	margin-top:-20px;
	border:0px solid red;
}
.node {
	margin-left:-170px;
	margin-top:-180px;
}


.inner{

}



/***** SELECTED PATH *****/
.path{

}


.node {
	color:black;
	cursor:pointer;
	padding:2px;
	font-size:11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	white-space:nowrap;
}



.meta {

}