/*
** box messaggi
*/

#messagesDiv {	
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
	display: none;
	font: 10px Trebuchet, Verdana, Arial, sans-serif;
	cursor: pointer;
	text-align: center;
}


.messagesDivOver {
	border: 3px solid #FFF;
	margin: -3px;
}


/* TRICK per interpretare il seguente codice solo con IE5 + */
* html #messagesDiv { height: 30px; width: 200px; }
* html #messagesDiv:hover {	margin: 0; }


.message-error, .message-warn, .message-info, .message-result {
	position: relative;
	top: 0;
	color: #FFF;
	min-height: 30px;
	min-width: 200px;
	padding: 8px 5px;
}

.message-error { background-color: #FF3333; }
.message-warn { background: #FF9922; }
.message-info, .message-result { background-color: #333333; }



/*
** icone messaggi
*/
#info-img, #result-img, #error-img, #warn-img, #pdf-img, .pdf-img {
	position: absolute;
	top: -8px;
	left: -10px;
	width: 16px;
	height: 16px;
}

#info-img, #result-img { background: transparent url(../img/iconOkay_16x16.png) no-repeat; }
#error-img { background: transparent url(../img/iconAlert_16x16.png) no-repeat; }
#warn-img { background: transparent url(../img/iconAlert_16x16.png) no-repeat; }

#pdf-img,.pdf-img { background: transparent url(../img/iconPdf.gif) no-repeat; }
