/*
** box messaggi
*/

#messagesDiv {	
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
	min-height: 40px;
	max-width: 200px;

	font: 10px Trebuchet, Verdana, Arial, sans-serif;
	text-align: left;
}


.messagesDivOver {
	border: 3px solid #FFF;
	margin: -3px;
}


/* TRICK per interpretare il seguente codice solo con IE5 + */
* html #messagesDiv {
	height: 50px;
}

* html #messagesDiv:hover {
	margin: 0;
}

.message-error {
	background-color: #FFB3B3;
	padding: 5px;
}

.message-warn {
	background: #FFFFDB;
	padding: 5px;
}

.message-info {
	background-color: #333333;
	color: #FFF;
	padding: 4px;
}

.message-result {
	background: #E5EBE5;
	padding: 5px;
}

/*
** icone messaggi
*/
#info-img, #result-img {
	position: relative;
	top: -10px;
	left: -10px;
	background: transparent url(../img/iconOkay_16x16.png) no-repeat;
	width: 16px;
	height: 16px;
}

#error-img {
	background: transparent url(../img/iconWarning.gif) no-repeat;
}

#warn-img {
	background: transparent url(../img/iconWarning.gif) no-repeat;
}

#pdf-img,.pdf-img {
	background: transparent url(../img/iconPdf.gif) no-repeat;
}
