/**
Areas custom css
@author		xho@channelweb.it
*/

#companychoice TD {
	height:60px; 
	padding-right:20px;
	padding-left:10px;
	text-transform: uppercase;
	border-left:1px solid gray; 
}

#companychoice TD:first-child {
	border-left:0px solid gray; 
}

#gender label {
	margin-right: 2em;
	font-weight: normal;
	cursor: pointer;
}

#assocObjectsMailgroup {
	margin-left: 1em;
}
