#treecontrol { margin: 1em 0; }
#tree .AreaItem 	{ font-weight: bold; }
#tree .SectionItem { }
span.dropOver
{
	background-color: #00c;
	color: #fff;
}	  	

#cmdTree {
	float:left;
	border:0px solid black; 
	padding: 0px 0px 0px 0px;
}	
	
#tree input {
	margin: 0;
	padding: 0px 0px 0px 0px;
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 11px;
	background: #fff;
	color: #333;
	border: 1px solid black;
}	

#tree .initCmdTree {
	display: none ;
	background: #fff;
	color: black;
	border: 1px solid gray;
}	

#tree .enabledCmdTree {
	background: #fff;
	color: black;
	border: 1px solid gray;
}	

#tree .disabledCmdTree {
	background: #fff;
	color: gray;
	border: 1px solid gray;
}