/*
#listAree {
	float:left;
	border: ridge #DDD 3px;
}

#listGalleries {
	border: ridge #DDD 3px;
	width:600px;
	display:table-cell;
	padding-left:5px;
	padding-left:5px;
}
*/
#treeWhere, .treeWhere ul { padding: 0; margin: 2px; list-style: none;}
#treeWhere li { margin: 0; padding: 3px 0pt 3px 18px; list-style: none; }
#treeWhere li { background: url(treeview/tv-item.gif) 0 0 no-repeat; }
#treeWhere .collapsable { background-image: url(treeview/tv-collapsable.gif); }
#treeWhere .expandable { background-image: url(treeview/tv-expandable.gif); }
#treeWhere .last { background-image: url(treeview/tv-item-last.gif); }
#treeWhere .lastCollapsable { background-image: url(treeview/tv-collapsable-last.gif); }
#treeWhere .lastExpandable { background-image: url(treeview/tv-expandable-last.gif); }