/* Main Style Sheet for jQuery UI date picker */
#ui-datepicker-div, .ui-datepicker-inline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
	background: #666;
	width: 185px;
}
#ui-datepicker-div {
	display: none;
	border: 5px solid #333;
	z-index: 9999; /*must have*/
}

#ui-datepicker-div table {
	width:100%;
	border-collapse:collapse;
	border:0px solid red;
}

#ui-datepicker-div TD {
	border-top:1px solid #333;
	text-align:center;
	font:normal 1.1em "Georgia", serif;
	text-align:center;
}

.ui-datepicker-inline {
	float: left;
	display: block;
	border: 0;
}
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-dialog {
	padding: 5px !important;
	border: 0px ridge #ddd !important;
}
button.ui-datepicker-trigger {
	width: 25px;
}
img.ui-datepicker-trigger {
	margin: 2px;
	vertical-align: middle;
}
.ui-datepicker-prompt {
	float: left;
	padding: 2px;
	background: #ddd;
	color: #000;
}
* html .ui-datepicker-prompt {
	width: 185px;
}
.ui-datepicker-control, .ui-datepicker-links, .ui-datepicker-header, .ui-datepicker {
	clear: both;
	float: left;
	width: 100%;
	color: #fff;
}
.ui-datepicker-control {
	background: #888;
	padding: 2px 0px;
}
.ui-datepicker-links {
	background: #888;
	padding: 2px 0px;
}
.ui-datepicker-control, .ui-datepicker-links {
	 font-weight: normal;
	 font-size: 0.85em;
	
}
.ui-datepicker-links label { /* disabled links */
	padding: 2px 5px;
	color: #888;
}
.ui-datepicker-clear, .ui-datepicker-prev {
	float: left;
	width: 40px !important;
}
.ui-datepicker-rtl .ui-datepicker-clear, .ui-datepicker-rtl .ui-datepicker-prev {
	float: right;
	text-align: right;

}
.ui-datepicker-current {
	float: left;
	text-align: center;
}
.ui-datepicker-close, .ui-datepicker-next {
	float: right;
	text-align: right;
	width: 40px !important; 
}
.ui-datepicker-rtl .ui-datepicker-close, .ui-datepicker-rtl .ui-datepicker-next {
	float: left;
}
.ui-datepicker-header {
	padding: 0px 0 4px 0px;
	background: #333;
	text-align: center;
	font-weight: normal;
	height: 1.3em;
	text-transform:lowercase !important;
}
.ui-datepicker-header select {
	border: 0px;
	font-weight: normal;
}
.ui-datepicker {
	background: #888;
	text-align: center;
	font-size: 100%;
}
.ui-datepicker a {
	display: block;
	width: 100%;
}
.ui-datepicker-title-row {
	background: #888;
}
.ui-datepicker-days-row {
	background: #888;
	color: #000;

}
.ui-datepicker-week-col {
	background: #888;
	color: #000;
}
.ui-datepicker-days-cell {

}
.ui-datepicker-days-cell a {
	display: block;
}
.ui-datepicker-week-end-cell {
	background: #888;
}
.ui-datepicker-title-row .ui-datepicker-week-end-cell {
	background: #888;
}
.ui-datepicker-days-cell-over {
	background: #fff;
	border: 0px solid #888;
}
.ui-datepicker-unselectable {
	color: #777;
}
.ui-datepicker-today {
	background: #666 !important;
}
.ui-datepicker-current-day {
	background: #000 !important;
	color: #FFF !important;
}
.ui-datepicker-current-day A {
	color: #FFF !important;
}
.ui-datepicker-status {
	background: red;
	width: 100%;
	font-size: 80%;
	text-align: center;
}

/* ________ Datepicker Links _______

** Reset link properties and then override them with !important */
#ui-datepicker-div a, .ui-datepicker-inline a {
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: none;
	color: #000;
}
.ui-datepicker-inline .ui-datepicker-links a {
	padding: 0 5px !important;
}
.ui-datepicker-control a, .ui-datepicker-links a {
	padding: 2px 5px !important;
	color: #FFF !important;
}
.ui-datepicker-title-row a {
	color: #FFF !important;
}
.ui-datepicker-control a:hover {
	color: #FFF !important;
}
.ui-datepicker-links a:hover, .ui-datepicker-title-row a:hover {
	color: #FFF !important;
}

/* ___________ MULTIPLE MONTHS _________*/

.ui-datepicker-multi .ui-datepicker {
	border: 1px solid #777;
}
.ui-datepicker-one-month {
	float: left;
	width: 185px;
}
.ui-datepicker-new-row {
	clear: left;
}

/* ___________ IE6 IFRAME FIX ________ */

.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
