.inputError {
	BORDER-RIGHT: #FF8000 1px solid; BORDER-TOP: #FF8000 1px solid; MARGIN: 0px; BORDER-LEFT: #FF8000 1px solid; BORDER-BOTTOM: #FF8000 1px solid; COLOR: #FF8000; BACKGROUND-COLOR: #FFFFD7
}
.inputNormal {
	BORDER-RIGHT: #004080 1px solid; BORDER-TOP: #004080 1px solid; BORDER-LEFT: #004080 1px solid; BORDER-BOTTOM: #004080 1px solid; COLOR: #004080; BACKGROUND-COLOR: #efefef
}
.innerError {
	BORDER-RIGHT: #FF8000 1px solid; BORDER-TOP: #FF8000 1px solid; MARGIN: 0px; BORDER-LEFT: #FF8000 1px solid; BORDER-BOTTOM: #FF8000 1px solid; COLOR: #FF8000
}