<?php
/*-----8<--------------------------------------------------------------------
 * 
 * BEdita - a semantic content management framework
 * 
 * Copyright 2008 ChannelWeb Srl, Chialab Srl
 * 
 * This file is part of BEdita: you can redistribute it and/or modify
 * it under the terms of the Affero GNU General Public License as published 
 * by the Free Software Foundation, either version 3 of the License, or 
 * (at your option) any later version.
 * BEdita is distributed WITHOUT ANY WARRANTY; without even the implied 
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the Affero GNU General Public License for more details.
 * You should have received a copy of the Affero GNU General Public License 
 * version 3 along with BEdita (see LICENSE.AGPL).
 * If not, see <http://gnu.org/licenses/agpl-3.0.html>.
 * 
 *------------------------------------------------------------------->8-----
 */

/**
 * bedita.sys.php - system specific settings,
 					overrides settings in bedita.ini
 * 
 * @link			http://www.bedita.com
 * @version			$Revision$
 * @modifiedby 		$LastChangedBy$
 * @lastmodified	$LastChangedDate$
 * 
 * $Id$
 */


/**
 ** ******************************************
 **  FileSystem Paths, URIs, Files defaults
 ** ******************************************
 */
// BEdita URL
// $config['beditaUrl'] = "http://localhost/bedita";

// Multimedia - files' root folder on filesystem (use DS as Directory Separator, without trailing slash)
// $config['mediaRoot'] = ROOT . DS . "media";


// Multimedia - URL prefix (without trailing slash)
// $config['mediaUrl'] = 'http://localhost/media';


// FileSystem directory for temporary file storage
// $config['tmp'] = "/tmp" ;



/**
 ** ******************************************
 **  Statistics settings
 ** ******************************************
 */
 
// apache log statistics url - e.g. awstats ...
//$config["logStatsUrl"] = array(
//	"pub-nickname" => "http://user:passwd@awstatsurl",
//);



/**
 ** ******************************************
 **  SMTP and mail support settings
 ** ******************************************
 */
 
// smtp server configuration
// $config['smtpOptions'] = array(
//	 'port'=>'25',
//	 'timeout'=>'30',
//	 'host' => 'your.smtp.server',
//	 'username'=>'your_smtp_username',
//	 'password'=>'your_smtp_password'
//);

// mail support configuration
//$config["mailSupport"] = array(
//	"from" => "bedita-support@...",	
//	'to' => "bedita-support@...",
//	'subject' => "[bedita] error message",
//);

?>