<?php
/**
  * @author giangi@qwerg.com ste@channelweb.it
 * 
 *  bedita.ini.php - constants and global variables for BEdita application
 * 
 */
$config = array() ;
 
//////////////////////////////////////////////////////
// EDITABLE STUFF         ///////////////
//////////////////////////////////////////////////////

/**
 * Multimedia files root on filesystem (use DS as Directory Separator, without trailing slash)
 */
define("MEDIA_ROOT", ROOT . DS . APP_DIR . DS . "media") ;

/**
 * Multimedia URL prefix (without trailing slash)
 */
define("MEDIA_URL", "http://www.mydomain.com/media") ;

/**
 * Media cache folder (without trailing slashes, inside MEDIA_ROOT)
 */
$config['imgCache'] = 'imgcache';

/**
 * Import PHP constant
 * (maybe should put this elsewhere, it's usefull inside smarty templates, since you cannot access def constants) 
 */
$config['DS'] = DS;


/**
 * uncomment to set default interface language, set 'multilang' true for user choice
 * set 'multilang' true if $config['Config']['language'] is set
 */
//$config['Config']['language'] = "ita"; // or "eng", "spa", "por"
$config['multilang'] = true;
$config['defaultLang'] = "ita"; // default fallback

/**
 * Formato di default per i testi dei diversi tipi di contenuto.
 * Valori possibili:
 * 'html', 'txt', 'txtParsed'
 */
$config['type'] = "txt" ;

/**
 * Status di default per gli oggetti da creare
 */
$config['status'] = "draft" ;


/**
 * Default settings for messages
 */
$config['msgPause'] = 3000;		// milliseconds


/**
 * Default dimensions for images and videos
 */
$config['videoWidth']       = 300;		// px
$config['videoHeight']      = 250;		// px
$config['videoThumbWidth']  = 110;		// px
$config['videoThumbHeight'] = 83;		// px
$config['audioWidth']       = 300;		// px
$config['audioHeight']      = 20;		// px


/**
 * Formato visualizzazione data
 * @date_format: visualization format.
 *		format used by strftime function
 * @dateFormatValidation: 
 *		validation format: day=dd, month=mm, year=yyyy 
 *
 * date_format and dateFormatValidation have to be in the same format
 */
$config['date_format'] 			= "%d/%m/%Y" ;
$config['dateFormatValidation'] = "dd/mm/yyyy" ;
	
/*
$config['match_year'] 	= "/\d{2,2}-\d{2,2}-(\d{4,4})/" ;	// Trova l'anno nel  formato sopra indicato
$config['match_month'] 	= "/\d{2,2}-(\d{2,2})-\d{4,4}/" ;	// Trova il mese nel  formato sopra indicato
$config['match_day'] 	= "/(\d{2,2})-\d{2,2}-\d{4,4}/" ;	// Trova il giorno nel  formato sopra indicato
*/

/**
 * directory temporanea
 */
$config['tmp'] = "/tmp" ;

/**
 * Backend default login policy
 */
$config['maxLoginAttempts'] = 3;
$config['maxNumDaysInactivity'] = 180;
$config['maxNumDaysValidity'] = 60;

$config['passwdRegex'] = "/^(?=.*\d)(?=.*([a-z]|[A-Z]))([\x20-\x7E]){6,40}$/";
$config['passwdRegexMsg'] = "Your password must be at least 6 characters long and contain at least one number";

$config['authorizedGroups'] = array('administrator','editor','reader');
// immutable groups
$config['basicGroups'] = array('administrator','editor','reader','guest');

// mce (enabled|disabled) for long_text: comment to disable
$config['mce'] = true;

// upload type: flash, ajax
$config['uploadType'] = "ajax";

/**
 * object relation type
 */
$config["objRelationType"] = array("event_place","relators","moderators");

///////////////////////////////////////////////////////
// DO NOT EDIT BELOW THIS LINE//
///////////////////////////////////////////////////////

// config for templates
$config['mediaUrl'] = MEDIA_URL ;
$config['mediaRoot'] = MEDIA_ROOT ;


/**
 * Costanti per la definizione dei permessi
 */
define("BEDITA_PERMS_READ",		0x1) ;
define("BEDITA_PERMS_MODIFY",	0x2) ;
define("BEDITA_PERMS_DELETE",	0x4) ;
define("BEDITA_PERMS_CREATE",	0x8) ;

define("BEDITA_PERMS_READ_MODIFY",	BEDITA_PERMS_READ|BEDITA_PERMS_MODIFY) ;

/**
 * Costanti per la definizione delel tipologie
 * di domande
 */
define("BEDITA_DOMANDA_MULTIPLA",		0x1) ;
define("BEDITA_DOMANDA_SINGOLA",		0x2) ;
define("BEDITA_DOMANDA_TXTLIBERO",		0x3) ;
define("BEDITA_DOMANDA_CHECKOPEN",	0x4) ;
define("BEDITA_DOMANDA_GRADO",			0x5) ;
define("BEDITA_DOMANDA_TXTSEMPLICE",0x6) ;



/**
 * definisce i tipi i oggetti ammessi
 */
$config['objectTypes'] = array(
	'area'				=> 1,
	'newsletter'		=> 2,
	'section'			=> 3,

	'questionnaire'		=> 4,
	'faq'				=> 5,
	'gallery'			=> 29,
	'cartigli'			=> 6,

	'scroll'			=> 7,
	'timeline'			=> 8,
	'community'			=> 9,

	'befile'			=> 10,
	'image'				=> 12,
	
	'comment'			=> 13,
	'faqquestion'		=> 14,
	'question'			=> 15,

	'answer'			=> 16,
	'objectuser'		=> 17,
	'shortnews'			=> 18,

	'bibliography'		=> 19,
	'book'				=> 20,
	'event'				=> 21,

	'document'			=> 22,
	'documentptrobject'	=> 23,
	'documentptrextern'	=> 24,

	'documentptrfile'	=> 25,
	'documentptrservice'=> 26,
	'documentrule'		=> 27,
	
	'author'			=> 28,
	'biblioitem'		=> 30,
	
	'audio'				=> 31,
	'video'				=> 32,
	
	'link'				=> 33,
	
	/* Per selezionare tutti i tipi di documenti */
	'documentAll'		=> array(22,23,24,25,26,27),
	
	'relationated'		=> array(18,21,22,23,24,25,26,27)
) ;

/**
 * definisce i model per i diversi tipi di oggetti
 */
$config['objectTypeModels'] = array(
	1	=> 'Area',
	2	=> 'Newsletter',
	3	=> 'Section',
	
	4	=> 'Questionnaire',
	5	=> 'Faq',
	29	=> 'Gallery',
	6	=> 'Cartigli',
	
	7	=> 'Scroll',
	8	=> 'Timeline',
	9	=> 'Community',
	
	10	=> 'BEFile',
	12	=> 'Image',
	31	=> 'Audio',
	32	=> 'Video',

	13	=> 'Comment',
	14	=> 'FaqQuestion',
	15	=> 'Question',
	
	16	=> 'Answer',
	17	=> 'ObjectUser',
	18	=> 'ShortNews',

	19	=> 'Bibliography',
	20	=> 'Book',
	21	=> 'Event',

	22	=> 'Document',
	23	=> 'DocumentPtrobject',
	24	=> 'DocumentPtrExtern',
	
	25	=> 'DocumentPtrFile',
	26	=> 'DocumentPtrService',
	27	=> 'DocumentRule',

	28	=> 'Author',
	30	=> 'BiblioItem',

	33 	=> 'Link'
	// To be continued...
) ;

/**
 * Definisce le variabili utilizzate per la gestione delle sessioni
 */
$config['session'] = array(
	"sessionUserKey"	=> "BEAuthUser", 		// Nome con cui salvato in sessione info. utente connesso
) ;


/**
 * Permessi di default
 */
$config['permissions'] = array(
	'all'	=> array(
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
		array('guest', 			'group', (BEDITA_PERMS_READ)),
	),
	$config['objectTypes']['section']	=> array(
		array('guest', 			'group', (BEDITA_PERMS_READ)),
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
	),
	$config['objectTypes']['area']	=> array(
		array('guest', 			'group', (BEDITA_PERMS_READ)),
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
	),
	$config['objectTypes']['document']	=> array(
		array('guest', 			'group', (BEDITA_PERMS_READ)),
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
	),
	$config['objectTypes']['image']	=> array(
		array('guest', 			'group', (BEDITA_PERMS_READ)),
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
	),
	$config['objectTypes']['audio']	=> array(
		array('guest', 			'group', (BEDITA_PERMS_READ)),
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
	),
	$config['objectTypes']['video']	=> array(
		array('guest', 			'group', (BEDITA_PERMS_READ)),
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
	),
	$config['objectTypes']['befile']	=> array(
		array('guest', 			'group', (BEDITA_PERMS_READ)),
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
	),
	$config['objectTypes']['gallery']	=> array(
		array('guest', 			'group', (BEDITA_PERMS_READ)),
		array('administrator', 	'group', (BEDITA_PERMS_READ|BEDITA_PERMS_CREATE|BEDITA_PERMS_MODIFY|BEDITA_PERMS_DELETE)),
	),
);

/**
 * Tipologia di default, domande
 */
$config['questionTypeDefault'] = BEDITA_DOMANDA_TXTSEMPLICE ;

/**
 * 
 * Options selezione status
 * 
 */
$config['statusOptions'] = array(
	"on"	=> "ON",
	"off"	=> "OFF",
	"draft"	=> "DRAFT",
) ;

/**
 * Lang selection options ISO-639-3
 */
$config['langOptions'] = array(
	"ita"	=> "italiano",
	"eng"	=> "english",
	"spa"	=> "espa&ntilde;ol",
	"por"	=> "portugu&ecirc;s",
	"fra"	=> "fran&ccedil;ais",
	"deu"	=> "deutsch"
) ;

// ISO-639-3 codes
$config['langsSystem'] = array(
	"ita"	=> "italiano",
	"eng"	=> "english",
	"por"	=> "portugu&ecirc;s",
	"deu"	=> "deutsch"
) ;

// maps ISO-639-2 known codes to ISO-639-3
$config['langsSystemMap'] = array(
	"it"	=> "ita",
	"en"	=> "eng",
	"en_us"	=> "eng",
	"en_gb"	=> "eng",
	"es"	=> "spa",
	"pt"	=> "por",
	"pt_br"	=> "por"
) ;

/**
 * 
 * Options selezione tipologia Cutom properties
 * 
 */
$config['customPropTypeOptions'] = array(
	"integer"	=> "integer",
	"bool"		=> "boolean",
	"float"		=> "float",
	"string"	=> "string",
	"stream"	=> "stream"
) ;

/**
 * Options radio button tipi di documenti da seelzionare
 */
$config['docTypeOptions'] = array(
	"22"	=> "Documento",
	"23"	=> "Link oggetto BEdita",
	"24"	=> "Link",
) ;


/**
 * Variabili utilizzate da Smarty per definire permessi
 * 
 */
/**
 * Costanti per la definizione dei permessi
 */
$config['BEDITA_PERMS_READ'] 	= BEDITA_PERMS_READ ;
$config['BEDITA_PERMS_MODIFY'] 	= BEDITA_PERMS_MODIFY ;
$config['BEDITA_PERMS_DELETE'] 	= BEDITA_PERMS_DELETE ;
$config['BEDITA_PERMS_CREATE'] 	= BEDITA_PERMS_CREATE ;
$config['BEDITA_PERMS_READ_MODIFY'] = BEDITA_PERMS_READ_MODIFY;

/**
 * Variabili utilizza per il riconscimento e gestione URL remoti e file remoti
 */
$config['validate_resorce'] = array(
	'paranoid'	=> true,	/**
							 * Se true, non accetta remote URL se 'allow_url_fopen'
							 * e' a false.
							 * 
							 * False, usa l'URL passato e il MIME type viene passato con i dati. Size non
							 * puo' essere determinata. Opzione utilizzabile nei casi in cui allow_url_fopen
							 * non permette l'uso di file remoti.
							 **/
							
	'URL'	=> '/^\s*[a-z\d\+\-\.]+\:\/\//i',
	/**
	 *  Inserire tutte le regole che si vogliono. L'URL non e' accettato se non passa almeno 1 regola data
	 */
	'allow'	=> array( 
				'/^\s*http:\/\/(.*)\.(html|htm)$/',
				'/(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/'
			   ),
	/**
	 * ELenco dei MIME accettati per i diversi tipi di oggetti
	 */
	'mime'	=> array(
				'Image'			=> array('/image\/jpeg/', '/image\/gif/', '/image\/png/'),
				'Audio'			=> array('/audio\/\.*/'),
				'Video'			=> array('/video\/\.+/'),
				'BEFile'		=> array('/application\/msword/', '/application\/pdf/', '/application\/postscript/', 
										  '/application\/x-tar/', '/application\/zip/', '/text\/.+/', '/application\/vnd.oasis.opendocument/',
			   							 '/application\/vnd.ms-excel/'
								   ),
			   ),
	/**
	 * Possono essere usati i file che accompagnano l'associazione oppure indicare fiel diversi
	 * cambiando il path
	 */
	'mime.types'	=> dirname(__FILE__) . DS . "mime.types" ,
	'magic'			=> dirname(__FILE__) . DS . "magic" ,
) ;

/**
 *  For insert video from external media provider
 */
$config['media_providers'] = array(
	"youtube"	=> array(
			'/^http:\/\/\w+\.youtube\.com\/watch\?v=(.+)&{0,1}.*/',
			'/http:\/\/youtube\.com\/watch\?v=(.+)&{0,1}.*/'
	) ,
	"blip"	=> array(
			'/^http:\/\/\w+\.blip\.tv\/file\/(\d+)\?{0,1}.*/',
			'/http:\/\/blip\.tv\/file\/(\d+)\?{0,1}.*/'
	) 
) ;

/**
 *  file conf for media provider
 */
$config['media_providers_default_conf']  = array(
	"youtube"	=> "mediaprovider.youtube.ini",
	"blip"		=> "mediaprovider.blip.ini"
) ;

/**
 *  Default model bindings for Bindable Behaviour 
 */
$config['modelBindings'] = array(

	'Area' => array("BEObject" => array("CustomProperties", "LangText")),
	'Section' => array("BEObject" => array("CustomProperties", "LangText")),
 	'Document' => array("BEObject" => array("CustomProperties", "LangText" ),
				"ContentBase" => array("*"), "Content","BaseDocument"),
	'Event' => array("BEObject" => array("CustomProperties", "LangText"),
				"ContentBase" => array("*"), "Content","BaseDocument","EventDateItem"),
	'Image' => array("BEObject" => array("CustomProperties", "LangText", "ObjectType"),
				"ContentBase", "Stream"),
	'Video' => array("BEObject" => array("CustomProperties", "LangText", "ObjectType"),
				"ContentBase", "Stream")

) ;

?>