<?php
/**
 ** @author ChannelWeb srl - BEdita staff
 ** 
 ** bedita.cfg.php - local installation specific settings,
 **                  overrides settings in bedita.ini
 ** 
 */


/**
 ** ******************************************
 **  FileSystem Paths, URIs, Files defaults
 ** ******************************************
 */

// Multimedia - files' root folder on filesystem (use DS as Directory Separator, without trailing slash)
// $config['mediaRoot'] = ROOT . DS . "media";


// Multimedia - URL prefix (without trailing slash)
// $config['mediaUrl'] = 'http://localhost/media';


// Multimedia - cache folder (without trailing slashes, inside MEDIA_ROOT)
// $config['imgCache'] = 'imgcache';


// FileSystem directory for temporary file storage
// $config['tmp'] = "/tmp" ;







/**
 ** ******************************************
 **  Content and UI Elements defaults
 ** ******************************************
 */

// User Interface default language [see also 'multilang' below]
//$config['Config']['language'] = "ita"; // or "eng", "spa", "por"

// Set 'multilang' true for user choice [also set 'multilang' true if $config['Config']['language'] is set]
// $config['multilang'] = true;
// $config['defaultLang'] = "ita"; // default fallback


// Texts in documents ['html', 'txt', 'txtParsed']
// $config['type'] = "txt" ;  // ------ SISTEMARE IL NOME FA CA'  ------------
//$config['defaultTxtType'] = "txt" ;


// Status of new objects
// $config['status'] = "draft" ;  // ------ SISTEMARE IL NOME FA CA' ------------
//$config['defaultStatus'] = "draft" ;


// TinyMCE Rich Text Editor for long_text ['false' to disable - defaults true]
// $config['mce'] = true;


// Upload mode ['flash', 'ajax']
// $config['uploadType'] = "flash";





/**
 ** ******************************************
 **  Local installation specific settings
 ** ******************************************
 */

// Relations - local objects' relation types
// $config["objRelationType"] = array ("language", "parent");

// One-way relation
// $config["cfgOneWayRelation"] = array("parent");

// Reserved words [avoided in nickname creation]
// $config["cfgReservedWords"] = array();


// $config['searchFields'] = array(
//	'ModelName' => array('title'=> 6, 'description' => 4),
//) ;


// smtp server configuration
// $config['smtpOptions'] = array(
//	 'port'=>'25',
//	 'timeout'=>'30',
//	 'host' => 'your.smtp.server',
//	 'username'=>'your_smtp_username',
//	 'password'=>'your_smtp_password'
//);

// mail support configuration
//$config["mailSupport"] = array(
//	"from" => "bedita-support@...",	
//	'to' => "bedita-support@...",
//	'subject' => "[bedita] error message",
//);

// specific css filename for newsletter templates
//$config['newsletterCss'] = "base.css";


$config['langOptions'] = array(
 "abk"=>"Abkhazian",
 "ace"=>"Achinese",
 "ach"=>"Acoli",
 "ada"=>"Adangme",
 "aar"=>"Afar",
 "afh"=>"Afrihili",
 "afr"=>"Afrikaans",
 "afa"=>"Afro-Asiatic",
 "aka"=>"Akan",
 "akk"=>"Akkadian",
 "alb/sqi"=>"Albanian",
 "ale"=>"Aleut",
 "alg"=>"Algonquian",
 "tut"=>"Altaic",
 "amh"=>"Amharic",
 "apa"=>"Apache",
 "ara"=>"Arabic",
 "arc"=>"Aramaic",
 "arp"=>"Arapaho",
 "arn"=>"Araucanian",
 "arw"=>"Arawak",
 "arm/hye"=>"Armenian",
 "art"=>"Artificial",
 "asm"=>"Assamese",
 "ath"=>"Athapascan",
 "map"=>"Austronesian",
 "ava"=>"Avaric",
 "ave"=>"Avestan",
 "awa"=>"Awadhi",
 "aym"=>"Aymara",
 "aze"=>"Azerbaijani",
 "nah"=>"Aztec",
 "ban"=>"Balinese",
 "bat"=>"Baltic",
 "bal"=>"Baluchi",
 "bam"=>"Bambara",
 "bai"=>"Bamileke",
 "bad"=>"Banda",
 "bnt"=>"Bantu",
 "bas"=>"Basa",
 "bak"=>"Bashkir",
 "baq/eus"=>"Basque",
 "bej"=>"Beja",
 "bem"=>"Bemba",
 "ben"=>"Bengali",
 "ber"=>"Berber",
 "bho"=>"Bhojpuri",
 "bih"=>"Bihari",
 "bik"=>"Bikol",
 "bin"=>"Bini",
 "bis"=>"Bislama",
 "bra"=>"Braj",
 "bre"=>"Breton",
 "bug"=>"Buginese",
 "bul"=>"Bulgarian",
 "bua"=>"Buriat",
 "bur/mya"=>"Burmese",
 "bel"=>"Byelorussian",
 "cad"=>"Caddo",
 "car"=>"Carib",
 "cat"=>"Catalan",
 "cau"=>"Caucasian",
 "ceb"=>"Cebuano",
 "cel"=>"Celtic",
 "cai"=>"Central",
 "chg"=>"Chagatai",
 "cha"=>"Chamorro",
 "che"=>"Chechen",
 "chr"=>"Cherokee",
 "chy"=>"Cheyenne",
 "chb"=>"Chibcha",
 "chi/zho"=>"Chinese",
 "chn"=>"Chinook",
 "cho"=>"Choctaw",
 "chu"=>"Church",
 "chv"=>"Chuvash",
 "cop"=>"Coptic",
 "cor"=>"Cornish",
 "cos"=>"Corsican",
 "cre"=>"Cree",
 "mus"=>"Creek",
 "crp"=>"Creoles",
 "cpe"=>"Creoles",
 "cpf"=>"Creoles",
 "cpp"=>"Creoles",
 "cus"=>"Cushitic",
 "ces/cze"=>"Czech",
 "dak"=>"Dakota",
 "dan"=>"Danish",
 "del"=>"Delaware",
 "din"=>"Dinka",
 "div"=>"Divehi",
 "doi"=>"Dogri",
 "dra"=>"Dravidian",
 "dua"=>"Duala",
 "dut/nla"=>"Dutch",
 "dum"=>"Dutch",
 "dyu"=>"Dyula",
 "dzo"=>"Dzongkha",
 "efi"=>"Efik",
 "egy"=>"Egyptian",
 "eka"=>"Ekajuk",
 "elx"=>"Elamite",
 "eng"=>"English",
 "enm"=>"English",
 "ang"=>"English",
 "esk"=>"Eskimo",
 "epo"=>"Esperanto",
 "est"=>"Estonian",
 "ewe"=>"Ewe",
 "ewo"=>"Ewondo",
 "fan"=>"Fang",
 "fat"=>"Fanti",
 "fao"=>"Faroese",
 "fij"=>"Fijian",
 "fin"=>"Finnish",
 "fiu"=>"Finno-Ugrian",
 "fon"=>"Fon",
 "fra"=>"French",
 "fre"=>"French",
 "frm"=>"French",
 "fro"=>"French",
 "fry"=>"Frisian",
 "ful"=>"Fulah",
 "gaa"=>"Ga",
 "gae/gdh"=>"Scots",
 "glg"=>"Gallegan",
 "lug"=>"Ganda",
 "gay"=>"Gayo",
 "gez"=>"Geez",
 "geo/kat"=>"Georgian",
 "deu/ger"=>"German",
 "gmh"=>"German",
 "goh"=>"German",
 "gem"=>"Germanic",
 "gil"=>"Gilbertese",
 "gon"=>"Gondi",
 "got"=>"Gothic",
 "grb"=>"Grebo",
 "grc"=>"Greek",
 "ell/gre"=>"Greek",
 "kal"=>"Greenlandic",
 "grn"=>"Guarani",
 "guj"=>"Gujarati",
 "hai"=>"Haida",
 "hau"=>"Hausa",
 "haw"=>"Hawaiian",
 "heb"=>"Hebrew",
 "her"=>"Herero",
 "hil"=>"Hiligaynon",
 "him"=>"Himachali",
 "hin"=>"Hindi",
 "hmo"=>"Hiri",
 "hrv"=>"Croatian",
 "hun"=>"Hungarian",
 "hup"=>"Hupa",
 "iba"=>"Iban",
 "ice/isl"=>"Icelandic",
 "ibo"=>"Igbo",
 "ijo"=>"Ijo",
 "ilo"=>"Iloko",
 "inc"=>"Indic",
 "ine"=>"Indo-European",
 "ind"=>"Indonesian",
 "ina"=>"Interlingua",
 "ine"=>"Interlingue",
 "iku"=>"Inuktitut",
 "ipk"=>"Inupiak",
 "ira"=>"Iranian",
 "gai/iri"=>"Irish",
 "sga"=>"Irish",
 "mga"=>"Irish",
 "iro"=>"Iroquoian",
 "ita"=>"Italian",
 "jpn"=>"Japanese",
 "jav/jaw"=>"Javanese",
 "jrb"=>"Judeo-Arabic",
 "jpr"=>"Judeo-Persian",
 "kab"=>"Kabyle",
 "kac"=>"Kachin",
 "kam"=>"Kamba",
 "kan"=>"Kannada",
 "kau"=>"Kanuri",
 "kaa"=>"Kara-Kalpak",
 "kar"=>"Karen",
 "kas"=>"Kashmiri",
 "kaw"=>"Kawi",
 "kaz"=>"Kazakh",
 "kha"=>"Khasi",
 "khm"=>"Khmer",
 "khi"=>"Khoisan",
 "kho"=>"Khotanese",
 "kik"=>"Kikuyu",
 "kin"=>"Kinyarwanda",
 "kir"=>"Kirghiz",
 "kom"=>"Komi",
 "kon"=>"Kongo",
 "kok"=>"Konkani",
 "kor"=>"Korean",
 "kpe"=>"Kpelle",
 "kro"=>"Kru",
 "kua"=>"Kuanyama",
 "kum"=>"Kumyk",
 "kur"=>"Kurdish",
 "kru"=>"Kurukh",
 "kus"=>"Kusaie",
 "kut"=>"Kutenai",
 "lad"=>"Ladino",
 "lah"=>"Lahnda",
 "lam"=>"Lamba",
 "oci"=>"Langue",
 "lao"=>"Lao",
 "lat"=>"Latin",
 "lav"=>"Latvian",
 "ltz"=>"Letzeburgesch",
 "lez"=>"Lezghian",
 "lin"=>"Lingala",
 "lit"=>"Lithuanian",
 "loz"=>"Lozi",
 "lub"=>"Luba-Katanga",
 "lui"=>"Luiseno",
 "lun"=>"Lunda",
 "luo"=>"Luo",
 "mac/mak"=>"Macedonian",
 "mad"=>"Madurese",
 "mag"=>"Magahi",
 "mai"=>"Maithili",
 "mak"=>"Makasar",
 "mlg"=>"Malagasy",
 "may/msa"=>"Malay",
 "mal"=>"Malayalam",
 "mlt"=>"Maltese",
 "man"=>"Mandingo",
 "mni"=>"Manipuri",
 "mno"=>"Manobo",
 "max"=>"Manx",
 "mao/mri"=>"Maori",
 "mar"=>"Marathi",
 "chm"=>"Mari",
 "mah"=>"Marshall",
 "mwr"=>"Marwari",
 "mas"=>"Masai",
 "myn"=>"Mayan",
 "men"=>"Mende",
 "mic"=>"Micmac",
 "min"=>"Minangkabau",
 "mis"=>"Miscellaneous",
 "moh"=>"Mohawk",
 "mol"=>"Moldavian",
 "mkh"=>"Mon-Kmer",
 "lol"=>"Mongo",
 "mon"=>"Mongolian",
 "mos"=>"Mossi",
 "mul"=>"Multiple",
 "mun"=>"Munda",
 "nau"=>"Nauru",
 "nav"=>"Navajo",
 "nde"=>"Ndebele",
 "nbl"=>"Ndebele",
 "ndo"=>"Ndongo",
 "nep"=>"Nepali",
 "new"=>"Newari",
 "nic"=>"Niger-Kordofanian",
 "ssa"=>"Nilo-Saharan",
 "niu"=>"Niuean",
 "non"=>"Norse",
 "nai"=>"North",
 "nor"=>"Norwegian",
 "nno"=>"Norwegian",
 "nub"=>"Nubian",
 "nym"=>"Nyamwezi",
 "nya"=>"Nyanja",
 "nyn"=>"Nyankole",
 "nyo"=>"Nyoro",
 "nzi"=>"Nzima",
 "oji"=>"Ojibwa",
 "ori"=>"Oriya",
 "orm"=>"Oromo",
 "osa"=>"Osage",
 "oss"=>"Ossetic",
 "oto"=>"Otomian",
 "pal"=>"Pahlavi",
 "pau"=>"Palauan",
 "pli"=>"Pali",
 "pam"=>"Pampanga",
 "pag"=>"Pangasinan",
 "pan"=>"Panjabi",
 "pap"=>"Papiamento",
 "paa"=>"Papuan-Australian",
 "fas/per"=>"Persian",
 "peo"=>"Persian",
 "phn"=>"Phoenician",
 "pol"=>"Polish",
 "pon"=>"Ponape",
 "por"=>"Portuguese",
 "pra"=>"Prakrit",
 "pro"=>"Provencal",
 "pus"=>"Pushto",
 "que"=>"Quechua",
 "roh"=>"Rhaeto-Romance",
 "raj"=>"Rajasthani",
 "rar"=>"Rarotongan",
 "roa"=>"Romance",
 "ron/rum"=>"Romanian",
 "rom"=>"Romany",
 "run"=>"Rundi",
 "rus"=>"Russian",
 "sal"=>"Salishan",
 "sam"=>"Samaritan",
 "smi"=>"Sami",
 "smo"=>"Samoan",
 "sad"=>"Sandawe",
 "sag"=>"Sango",
 "san"=>"Sanskrit",
 "srd"=>"Sardinian",
 "sco"=>"Scots",
 "sel"=>"Selkup",
 "sem"=>"Semitic",
 "srp"=>"Serbian",
 "scr"=>"Serbo-Croatian",
 "srr"=>"Serer",
 "shn"=>"Shan",
 "sna"=>"Shona",
 "sid"=>"Sidamo",
 "bla"=>"Siksika",
 "snd"=>"Sindhi",
 "sin"=>"Singhalese",
 "sit"=>"Sino-Tibetan",
 "sio"=>"Siouan",
 "sla"=>"Slavic",
 "ssw"=>"Siswant",
 "slk/slo"=>"Slovak",
 "slv"=>"Slovenian",
 "sog"=>"Sogdian",
 "som"=>"Somali",
 "son"=>"Songhai",
 "wen"=>"Sorbian",
 "nso"=>"Sotho",
 "sot"=>"Sotho",
 "sai"=>"South",
 "esl/spa"=>"Spanish",
 "suk"=>"Sukuma",
 "sux"=>"Sumerian",
 "sun"=>"Sudanese",
 "sus"=>"Susu",
 "swa"=>"Swahili",
 "ssw"=>"Swazi",
 "sve/swe"=>"Swedish",
 "syr"=>"Syriac",
 "tgl"=>"Tagalog",
 "tah"=>"Tahitian",
 "tgk"=>"Tajik",
 "tmh"=>"Tamashek",
 "tam"=>"Tamil",
 "tat"=>"Tatar",
 "tel"=>"Telugu",
 "ter"=>"Tereno",
 "tha"=>"Thai",
 "bod/tib"=>"Tibetan",
 "tig"=>"Tigre",
 "tir"=>"Tigrinya",
 "tem"=>"Timne",
 "tiv"=>"Tivi",
 "tli"=>"Tlingit",
 "tog"=>"Tonga",
 "ton"=>"Tonga",
 "tru"=>"Truk",
 "tsi"=>"Tsimshian",
 "tso"=>"Tsonga",
 "tsn"=>"Tswana",
 "tum"=>"Tumbuka",
 "tur"=>"Turkish",
 "ota"=>"Turkish",
 "tuk"=>"Turkmen",
 "tyv"=>"Tuvinian",
 "twi"=>"Twi",
 "uga"=>"Ugaritic",
 "uig"=>"Uighur",
 "ukr"=>"Ukrainian",
 "umb"=>"Umbundu",
 "und"=>"Undetermined",
 "urd"=>"Urdu",
 "uzb"=>"Uzbek",
 "vai"=>"Vai",
 "ven"=>"Venda",
 "vie"=>"Vietnamese",
 "vol"=>"Volapük",
 "vot"=>"Votic",
 "wak"=>"Wakashan",
 "wal"=>"Walamo",
 "war"=>"Waray",
 "was"=>"Washo",
 "cym/wel"=>"Welsh",
 "wol"=>"Wolof",
 "xho"=>"Xhosa",
 "sah"=>"Yakut",
 "yao"=>"Yao",
 "yap"=>"Yap",
 "yid"=>"Yiddish",
 "yor"=>"Yoruba",
 "zap"=>"Zapotec",
 "zen"=>"Zenaga",
 "zha"=>"Zhuang",
 "zul"=>"Zulu",
 "zun"=>"Zuni"
 );

?>