<?php
/**
 * In this file you set up your database connection details.
 *
 * @package		cake
 * @subpackage	cake.config
 */
/**
 * Database configuration class.
 * You can specify multiple configurations for production, development and testing.
 *
 * driver =>
 * mysql, postgres, sqlite, adodb-drivername, pear-drivername
 *
 * connect =>
 * MySQL set the connect to either mysql_pconnect of mysql_connect
 * PostgreSQL set the connect to either pg_pconnect of pg_connect
 * SQLite set the connect to sqlite_popen or sqlite_open
 * MSSQL set the connect to mssql_connect or mssql_pconnect
 * ADOdb set the connect to one of these
 *	(http://phplens.com/adodb/supported.databases.html) and
 *	append it '|p' for persistent connection. (mssql|p for example, or just mssql for not persistent)
 *
 * host =>
 * the host you connect to the database
 * To add a port number use 'port' => #
 *
 */
if (!defined('SQL_SCRIPT_PATH')) { // cambiare opportunamente questo path
	define('SQL_SCRIPT_PATH', ROOT . DS . "bedita-db" . DS);
}
class DATABASE_CONFIG
{
	var $default = array('driver' => 'mysql',
							'persistent' => false,
							'connect' => 'mysql_connect',
							'host' => 'localhost',
							'login' => 'pippo',
							'password' => 'baudo',
							'database' => 'BEDITA',
							'schema' => '',
							'prefix' => '',
							'encoding' => 'utf8');

	var $test = array('driver' => 'mysql',
							'persistent' => false,
							'connect' => 'mysql_connect',
							'host' => 'localhost',
							'login' => 'pippo',
							'password' => 'baudo',
							'database' => 'BEDITA_TEST',
							'schema' => '',
							'prefix' => '',
							'encoding' => 'utf8');
}
?>