@charset "utf-8";

/*...........................................    

    General, elements

...........................................*/

* {
	padding:0; margin:0; border:0; outline:0; color:#333;
}

BODY {
	background: #779CC4 url("../img/sfo_mainW.png") repeat-x;
	height:auto;
}

P {margin-bottom:10px;}

OL, UL {list-style-position:outside;}

.textC OL {margin-left:20px; margin-bottom:8px; text-indent:-2px;}

.textC UL {margin-left:13px; margin-bottom:8px;}

CODE {color:#FF4500;}

A {text-decoration:none; color:#804000}
A:hover {color:#FF4500;}

A {outline:0; }

:focus {
	outline: 0;
} 


HR {height:0px; border:0px; margin:10px 0px 10px 0px; border-top:1px solid gray}

INPUT, TEXTAREA {border: 1px solid #444444;}

/*...........................................    

    Typography

...........................................*/

BODY {font:14px/1.313em "Georgia", serif;}

H1 	{font:1.5em "Georgia", serif;}

H2 {font:italic 1.2em "Georgia", serif; margin-bottom:3px;}

H3 {font:bold 1em "Georgia", serif;}

strong {font:normal 1.15em "Georgia", serif; color:#000;}

textarea, Input[type=text] {
	font:normal 1em "Georgia", serif;
	border:1px solid silver;
	padding:0.35em;
	color:gray;
}

/*...........................................    

    top space

...........................................*/

.top {
	height:200px;
	position: relative;
	width:940px;
	overflow:hidden;
}

.topG {
	background: url("../img/grass_g.png") bottom right no-repeat;
	width:940px;
	overflow:hidden;
	height:20px;
	position:relative;
	left:0px;
	top:0px;
}

.top DIV {
	
	float:left;
}

.strillo {
	height:110px; text-align:right; width:300px; padding-right:30px; 
	padding-top:40px; padding-left:70px; margin-top:20px; border-right:1px solid #CCCCCC; font-size:20px;
	color:#000;
}


.logo {
	position:relative; z-index:10;
	margin-right:-20px;
}


.logomoduli {
	position:relative; z-index:2; 
	margin-top:20px; 
	width:20px; 
	height:140px;
}

.illustrazione {z-index:-10; position:absolute; left:620px;}

.lang {position: absolute; top: 10px; right:10px; font-family:"Arial", sans-serif; font-size:12px;}

/*...........................................    

    head menu

...........................................*/


.headmenu {
	margin-left:20px;
	width:920px;
	height:28px;
	background-color:#FFFFFF;
	position:relative;
	z-index:10;
}

.headmenu UL {

}

.headmenu LI {
	list-style-type:none; 
	float:left;
	cursor:pointer;
}

.headmenu LI A {
	text-decoration:none;
	padding:5px 20px 5px 20px;
	display:block;
	color:#000;
}

.headmenu LI A:Hover {
	color: #FF4500;
}

.headmenu LI.on A {
	font-size:20px;
	color:#FFFFFF;
	/*background: #9a9b8c url("/img/sfo_headmenu.png") left bottom repeat-x;*/
	background: #779CC4 url("../img/sfo_headmenu.png") left bottom repeat-x;
	margin-top:-20px;
	padding-top:25px;
	cursor:default;
	position:relative;
	z-index:10;

}

/*............................................

	Breadcrumb
	
.............................................*/
div.breadcrumb {
	font-size: 0.9em;
	margin: 0 0 20px 160px;
}

/*...........................................    

    Main contents

...........................................*/

.main {	
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 20px;
	width:940px;
	
}

.content-main {
	padding:20px 60px 30px 0px;
	float:left;
	background-color:#FFFFFF;
	width:860px;
	position:relative;
	z-index:5;
}

.content-main h1 {
	margin-bottom:0px;
}
.content-main h1 + p:first-line { 
	/*font-size : 1.2em;  */
}

.abstract {
	float:left; 
	margin-left:30px; 
	/*height:200px;*/
	clear:right; 
	width:220px;
	padding-top:35px;
}

.abstract.twocols {display:block}

.abstract UL {margin-left:15px; margin-top:1em;}


.textC {
	float:left; 
	width:660px; 
	padding-right:30px; 
	padding-left:20px;
	margin-bottom:20px;
}

.textC.twocols {width:410px; border-right:1px solid silver; }

.testo {margin-top:10px;}

.dida {padding:5px 0 10px 0; font-size:0.85em; line-height:1em; font-style:italic;}



/*...........................................    

    Buttons

...........................................*/

.puls {
	text-align:center;
	padding:0px 2px 4px 2px; 
	width:30px;
	height:30px; 
	cursor:pointer;
	font-size:30px;
	line-height:30px;
	background-color:#CCCCCC; 	
	border-radius : 9px; 
	-moz-border-radius : 9px; /* Mozilla */
	-webkit-border-radius : 9px; /* Webkit */
}

.puls:hover {background-color:#FF4500; color:white;}

.close, .prev ,.next  {
	float:right;
	background-color:#CCCCCC; 
	margin:0px 0px 5px 5px;
}

.go  {color:white; float:left; margin-right:5px; vertical-align:middle; background-color:#3366ff; }
.go A {color:white; }


/*...........................................    

    Images, gallery and ajax

...........................................*/


.thumb {float:left; margin-right:10px; margin-bottom:10px; cursor:pointer; height:170px; color:gray;}

.galleryC {width:440px; float:left; margin-left:20px; border-right:0px solid silver;}

.samplebox {
	position:absolute; 
	z-index:80;
	padding-top:285px;
	left:180px;
	top:0px;
}

.sampleboxcontainer {display:none;}

.accajax {}


#loader {
	background-color:white;
	height:auto; padding:10px; 
	font:12px "Arial", sans-serif;
	border-radius : 9px; 
	-moz-border-radius : 9px; /* Mozilla */
	-webkit-border-radius : 9px; /* Webkit */
}

.description {vertical-align:top; color:gray; font:14px "Georgia", serif; padding:10px 10px 10px 0px;}





/*...........................................    

    Subdocs on left menu

...........................................*/

.subdocs {
	float:left;
	margin:0px;
	padding:0px;
	padding-top:20px;
	font-family:"Arial", sans-serif;
	width:140px;
	display:block!important;
	min-height:10px;
	line-height:1em;
}

.subdocs P {padding-left:14px; font:18px "Georgia", serif; color:#779CC4!important; margin-bottom:3px;}

.subdocs P:first-letter {text-transform:uppercase;}

.subdocs LI {list-style-type:none; margin:0px 10px 8px 15px; font-size:12px;}

.subdocs LI A {text-decoration:none; color:gray;}

.subdocs LI A:hover, .subon {color:#FF4500!important;}

.subdocs H1 {color:#000; margin-bottom:5px; margin-top:15px; padding:5px 0px 5px 15px; border-bottom:1px solid #779CC4}

.subdocs H1.on, .subdocs H1:Hover {color:white; background-color:#779CC4;}

.subdocs H1 A {color:#000;}

.subdocs H1.on A, .subdocs H1:Hover A {color:white;}


/*...........................................    

    Footer

...........................................*/

.footer {clear:both; margin-left:20px;}

.footel {
	height:140px; 
	float:left; 
	padding-top:10px; 
	border-left:1px solid white;
	max-width:160px;
	}
 
.footel LI {
	list-style-type:none; 
	font-family:"Arial", sans-serif; font-size:12px;
	line-height:1.3em;
	padding:5px 10px 0px 10px;
	}

.footel LI H3 {font:normal 14px "Georgia",serif; color:white;}

.footel LI A {text-decoration:none; color:#333;}

.footel LI A:hover {color:black;}


/*...........................................    

    sitemap

...........................................*/


.sitemap UL {margin-left:20px; padding:10px}

.sitemap UL UL {border:1px solid silver;}

.sitemap LI {list-style:none}

/*.........................................

	blog
..........................................*/
H2.post_description {font-style: italic; color: grey; font-size: 1.1em;}
H2.post_description p {color: grey;}

/*..........................................

	Tags
	
............................................*/
.smallestTag {font-size:1em;line-height:1em;}
	
.smallTag {font-size:1.2em;line-height:1em;}
	
.mediumTag {font-size:1.4em;line-height:1em;}
	
.largeTag {font-size:1.8em;line-height:1em;}
	
.largestTag {font-size:2.2em;line-height:1em;}


/*..........................................

	Comments
	
............................................*/

/*.commentContainer {padding: 5px; background-color: #efefef; margin: 0 0 2px 0; border-top: 1px solid #cfcfcf;}*/

.commentform {
	margin-top:40px;	
}

.commentform LABEL {
	display:block;
}

/*...........................................    

    Staging

...........................................*/

BODY.staging {
	border-top:25px solid transparent;
}

.stagingmenu {
	position:fixed;
	top:0px;
	padding:5px; margin:5px;
	z-index:500;
	background-color: #000;
	text-align:center;
	border-radius : 7px; 
	-moz-border-radius : 7px; /* Mozilla */
	-webkit-border-radius : 7px; /* Webkit */
	opacity:0.8;
}

.stagingmenu LI {
	color: silver;
	float:left;
	margin-left:20px;
	padding-right:20px;
	border-right:0px solid silver;
	white-space:nowrap;
}

.stagingmenu LI A {
	color: silver;
	text-decoration:none;
	cursor:pointer;
}

.stagingmenu LI A:Hover {
	color: #FFF;
}

.stagingsubmenu {
	width:250px;
	background-color: #000;
	opacity:0.8;
	border-radius : 7px; 
	-moz-border-radius : 7px; /* Mozilla */
	-webkit-border-radius : 7px; /* Webkit */
	position:fixed;
	display:none;
	top:38px;
	z-index:500;
}

.stagingsubmenu table {
	border-collapse:collapse;
	margin:10px;
}

.stagingsubmenu table * {
	text-align:left;
	font:normal 11px "Arial",sans-serif;
	color:white;
	padding:4px;
	vertical-align:top;
}

.stagingsubmenu table TH {
	text-align:right;
	border-right:1px solid gray;
	white-space:nowrap;
}


.stagingmenu ::selection {
	background: none; /* Safari */
	}
.stagingmenu ::-moz-selection {
	background: none; /* Firefox */
}


/*...........................................
 
    Each Modules appearence from backend CSS to implement runtime loading

...........................................*/

.areas, .area, .section 	{background-color:#626151 !important;}
.documents, .document		{background-color:#ff6600 !important;}
.galleries, .gallery 		{background-color:#FFBF00 !important;}
.events, .event				{background-color:#0099CC !important;}
.newsletter 				{background-color:#99cc33 !important;}
.multimedia, .image, .audio, .video	{background-color:#ff0033 !important;}
.admin 						{background-color:#333333 !important;}
.tags 						{background-color:#336666 !important;}
.comments, .comment			{background-color:#F08080 !important;}
.translations				{background-color:#FF00FF !important;}
.addressbook, .card			{background-color:#009933 !important;}
.attachments 				{background-color:gray !important;}
.news, .shortnews 			{background-color:#003366 !important;}
.newsletter 				{background-color:#6666FF !important;}
.books, .book				{background-color:#996633 !important;}
.bibliographies, .bibliography {background-color:#999966 !important;}
.ecommerce 					{background-color:#771717 !important;}
.webmark, .webmarks 		{background-color:#6600cc !important;}
.questionnaires, .questions, .question	{background-color:#801f2b !important;}
.bookings, .booking 		{background-color:#99CC33 !important;}
.faq, .faqs 				{background-color:#CC3333 !important;}
.print 						{background-color:#CC9900 !important;}
.topography, .topographies 	{background-color:#993300 !important;}
.statistics, .stats 	{background-color:#788279 !important;}




/*former class modules*/
.moduli {
	display:block;
	font-size: 1.16em ;
	width:120px; height:120px; 
	padding:10px;
	margin-top:20px;
	background-color:#CCCCCC; 
	background-image: url(../img/sfomodulo.png);
	background-repeat:repeat-x;
	color:#FFFFFF;
	float:left;
	font-weight:normal;
	font-family:"Arial", sans-serif;
	margin-right:-80px;
}


/*...........................................    

    Typo stuff cripto e proto

...........................................*/


.test { 
text-shadow : 1px 1px 5px; 
}

.test h1 + p:first-line { 
/*font-variant : small-caps; */
font-size : 1.2em; 

}

.test p:first-child { 
font-weight : bold; 
}

/*
Border-radius
*/

#nav-sub { 
	border-radius : 10px; 
	-moz-border-radius : 10px; /* Mozilla */
	-webkit-border-radius : 10px; /* Webkit */
}

a[rel="alternate"] { 
padding-left : 20px; 
background : url(a-rss.png) no-repeat 0 50%; 
}

#nav-main a { 
text-shadow : #000 1px 1px 1px; 
}

#nav-sub { box-shadow : 0 0 5px #888; 
-webkit-box-shadow : 0 0 5px #888; 
}


div.message {margin: 10px 0;}
div.error {color: red;}

