<?php

/*---------------------------------------------------------------------
 * server/instance specific settings
 *---------------------------------------------------------------------
 */

/**
 * Publication id referenced by frontend, 
 * change if different from id = 1 (default)
 */
$config['frontendAreaId'] = 1;


/**
 * show or not objects with status = draft
 * default: show only objects with status = ON
 */ 
$config['draft'] = false;


/**
 * staging site ? default: false -> production site
 */  
$config['staging'] = false;
